[2018-04-03 02:41] LiamBindle opened #1 "test_client_subpub fails occasionally."
It looks like one of the publishes is getting delivered more than once (entirely possible for QOS==1) and this is causing the `assert_true(state==5)` to fail. I'll probably need to find a better mechanism for testing that the number of ingress publishes is correct.

Output looks like this:
[code]

[2018-04-03 02:44] LiamBindle opened #2 "The will message should be an application message."
Currently the `will_message` argument of `mqtt_connect` is a `const char*`. This needs to be changed to a  `void*` with a size argument.

[2018-04-03 02:45] LiamBindle opened #3 "Test unsubscribe."
Tests for unsubscribing still need to be written.

[2018-04-03 02:46] LiamBindle opened #4 "Platform abstraction layer needs to be written."

[2018-04-03 02:51] LiamBindle opened #5 "Ingress publish with QoS 2 could deliver twice."
In `__mqtt_recv` the `MQTT_CONTROL_PUBLISH` case of the big switch statement needs a mechanism for ensuring that QoS 2 publishes are not passed to the callback more than once.

This could be accomplished by looping through the message queue and checking for messages with the same packet ID.

[2018-04-03 03:13] #5 closed

[2018-04-03 04:00] #3 closed

[2018-04-03 04:03] LiamBindle commented on #1
I think that this was resolved with 81f1d48cf07e94ca52870c407d790d658df3e0f3 where QoS inspection was not correct.

**Note:** this test can still fail if there is an abnormally long delay in the network.

[2018-04-03 04:03] #1 closed

[2018-04-03 04:18] #2 closed

[2018-04-03 05:56] LiamBindle commented on #4
Closed with 32feb3f1e276e77fb83e786540f09ba7e675a9aa

[2018-04-03 05:56] #4 closed

[2018-04-03 05:58] LiamBindle opened #6 "Todo list"
- [x] More testing - *?*
- [x] Documentation of testing - *~1.5 hours*
- [x] Examples - *~1 hour*
- [x] Finish README - *~30 min*
- [x] Finish documentation/editting of documentation - *~1 hour*

Class submission specific (we can use a lot of the documentation for these):
- [x] Design document for project submission. - *~30 min*
- [x] Report mesaurements/simulation results (we could talk about our

[2018-04-06 17:28] #6 closed

[2018-05-03 19:16] amasmiller commented on #5
It appears there is still a comment in `mqtt.c` implying QOS-2 may not be completely followed, w.r.t. duplicates.

https://github.com/LiamBindle/MQTT-C/blob/master/src/mqtt.c#L521

Can I trust that MQTT-C will follow in-order (and non-duplicated) messaging, as described in:

https://stackoverflow.com/questions/30955110/is-message-order-preserved-in-mqtt-messages

?

Thanks.  MQTT-C is a very easy

[2018-05-08 10:53] jedidiahuang opened #7 "Automatic recovery from MQTT_ERROR_SEND_BUFFER_IS_FULL"
Hi

Thank you for MQTT-C contribution, it looks great and  I am  trying to use it in my linux embedded project.
I have experienced a problem of your Simple_Publisher.c:
When it is running and I press <Enter> key to publish current time,
If I press key too quick,  **mqtt_publish()** API return error: MQTT_ERROR_SEND_BUFFER_IS_FULL and no way to recover.

If I add **mqtt_sync(**) after **mqtt_publis

[2018-05-08 13:55] jedidiahuang opened #8 "First two bytes incorrect for PUBLISH's with QoS 0"
Dear Sir,

I run MQTT-C simple_publisher to publish a topic '**DAQ**' with payload(application message) '**TEST123456789**'  and  run MQTT-fx (free tool) to Subscribe 'DAQ' to receive this message.
MQTT-fx show the received message with extra 2 binary code in the beginning.  '**?ST123456789**'
(? indicates a corrupted font)

Then I publish a topic '**datetime**' from MQTT-fx with a message '**2018

[2018-05-09 06:30] LiamBindle commented on #7
Hi Jedidiahuang,

You have a good point, once `MQTT_ERROR_SEND_BUFFER_IS_FULL` is set it will never be cleared (but it should). Just to clarify, are you running [simple_publisher.c](https://github.com/LiamBindle/MQTT-C/blob/master/examples/simple_publisher.c) which runs on two threads or have you adapted it to run in a single thread?

[2018-05-09 09:01] jedidiahuang commented on #7
Dear Liam

Thank you for quick responding.

1.      I just type ‘make’ and run bin/simple_publisher.  You may practice by pressing <Enter> without releasing key and it’ll show error then stop. As your program wrote, there is a thread for mqtt_sync() and main thread to publish after pressing <enter>

2.      What I’ve concerned more is

*  MQTT-C client publishing a topic to broker and subscribing

[2018-05-09 16:03] LiamBindle commented on #8
Hi Jedidiahuang,

Thanks for the issue submission, this is a bug and I've managed to locate it. First I'll highlight how I reproduced your error, then I'll explain the bug.

## Reproducing the bug

You are correct, it looks like something is wrong with the first two bytes of the application message. I was able to reproduce what you see using a local Mosquitto broker. This is what I see.

---

Brok

[2018-05-09 16:18] LiamBindle commented on #7
I believe I've located the bug causing the first two bytes of the application message to be garbage for QoS 0 but I'd prefer to keep that discussion to the issue #8 thread (it will be fixed asap).

Regarding this issue (#7) I worked on it for a while last night and I believe I have a fix. I will update you in the next couple days (but automatic recover from `MQTT_ERROR_SEND_BUFFER_IS_FULL` should

[2018-05-10 01:51] jedidiahuang commented on #8
Dear Liam

Thank you again for your kindness.

I fixed mqtt.c accordingly and got the following error:

1.       From MQTT-fx I published ‘datetime’ 2018/05/10 09:26:00, simple_subscriber received message correctly at the first time

2.       From MQTT-fx I published ‘datetime’ second time, simple_subscriber didn’t respond.

3.       From MQTT-fx I published ‘datetime’ third time, simple_subscribe

[2018-05-10 17:54] LiamBindle commented on #5
Hi, sorry I just saw this. Yeah sorry, I just forgot to remove that comment.

Actually no, currently QoS 2 will deliver exactly once but the ordering is not guaranteed (but it should be). I will try to get to this weekend. I've created a new issue (#9) so keep an eye on that.

[2018-05-10 18:19] amasmiller commented on #5
Excellent!  I'll keep an eye on #9.

[2018-05-10 18:36] LiamBindle opened #9 "In order delivery not guaranteed for for QoS 2"
Currently, MQTT-C does not guarantee to PUBLISH messages QoS 2 to the broker in order. This should be supported and should be pretty easy.

See [this thread](https://stackoverflow.com/questions/30955110/is-message-order-preserved-in-mqtt-messages) for a discussion delivery order.

In `__mqtt_send` we should add a flag, `inflight_qos2`, to indicate that a QoS 2 message is inflight to the broker. Th

[2018-05-11 01:26] jedidiahuang commented on #8
Hi Liam,

you missed to fix application_message_size in mqtt.c after line 1167

1163        if (response->qos_level > 0) {
1116            response->packet_id = (uint16_t) MQTT_PAL_NTOHS(*(uint16_t*) buf);
1165            buf += 2;
1166        }
1167
1168        /* get payload */
1169       response->application_message` = buf;
1170       **if ( response->qos_level > 0)**
1171            response-

[2018-05-11 06:49] jedidiahuang commented on #8
Hi Liam

For mqtt_publish() , there is still have 1 bug code in mqtt.c line 1093
1092      `/* calculate remaining length */`
1093      `remaining_length = __mqtt_packed_cstrlen(topic_name) + 2; /* variable header size */`

This bug will cause an error: MQTT_ERROR_SOCKET_ERROR if publishing QoS 0 topic.

I corrected line 1093 as below, and it works well now
1093     `remaining_length = __mqtt_pack

[2018-05-11 08:06] jedidiahuang commented on #7
Dear Liam,

I'm going to adopt your **MQTT-C** in my IoT embedded application for machine Data acquisition.
This is the best embedded **MQTT Client API** I've ever learned.

I'd suggest you  to  add one more argument,say, Reconnect, in mqtt_connect() API , to make MQTT  TCP Socket connection  be auto reconnected once connection is broken, instead of exit program and losing data.

My reason is that

[2018-05-11 15:55] LiamBindle commented on #8
Hi Jedidiahuang,

Oh right, thanks, I forgot both of those will need to be updated.

Do you want to make a pull request with the updates? If not, I can implement those changes this weekend.

Liam

[2018-05-12 02:31] LiamBindle commented on #7
That's great! Thank you, I'm glad you like it. I like both of your suggestions&mdash;I think SSL/TLS support would be a good addition, and the automatic reconnection sounds good too but I might need some clarification on what you mean.

I'm going to suggest we move those discussions to their own issues, however.

Regards,

Liam

[2018-05-12 02:37] LiamBindle opened #10 "Support for SSL/TLS"
Support for encryption would be good.

[2018-05-12 02:51] LiamBindle opened #11 "Automatic reconnect"
Supporting the auto-reconnecting feature that some other MQTT libraries support would be a good enhancement. I'm not yet familiar with this feature, but it was requested by @jedidiahuang.

I'm not going to have time to add this right away, but I wanted to submit this issue to start a discussion/take note that its something that would be good to add.

If anyone has any comments/suggestion feel free

[2018-05-14 05:15] #8 closed

[2018-05-14 05:31] #9 closed

[2018-05-14 06:08] LiamBindle commented on #9
@amasmiller packet ordering should be correct now.

Regards,

Liam

[2018-05-14 08:56] jedidiahuang opened #12 "How to set connect_flags?"
Hi Liam,

I've applied your update. It works well now.
Would you mind to explain how to set connect_flags while calling mqtt_connect()?
For example, I want to inform broker to clean_session when connected
Thanks a lot

Best Regards,
Jedidiahuang

[2018-05-14 12:27] amasmiller commented on #9
Thanks!  I'll give it a try.

[2018-05-14 14:08] LiamBindle commented on #12
Yeah, no problem. The 8th argument to `mqtt_connect` are the connect flags. These flags are enumerated in `enum MQTTConnectFlags` on line 587 of `mqtt.h`.

https://github.com/LiamBindle/MQTT-C/blob/dc96097d683bd6ef773c1fd89b540d1f895e2610/include/mqtt.h#L587-L597

For example, if you want to set "clean session" you would pass `MQTT_CONNECT_CLEAN_SESSION` as the 8th argument to `mqtt_connect`.

If

[2018-05-17 15:07] #12 closed

[2018-05-21 09:30] jedidiahuang commented on #11
Hi Liam,

I found error compiling of the example reconnect_subscriber.c

Best Regards,
Jedidiah

[2018-05-22 14:23] LiamBindle commented on #11
Hi Jedidiah,

Hmm, I wasn't expecting that; I'm able to compile it on my home and work computers. Could you include the compiler errors that you are seeing?

Regards,

Liam

[2018-05-22 14:33] amasmiller opened #13 "Modify `simple_subscriber` example program to correct `topic` argument use"
I believe I found a minor issue in the `simple_subscriber` example program - the `topic` passed in as a command line argument is not used (rather, currently, `"datetime"` is always used as the subscription topic).  Diff for proposed correction:

[code]

[2018-05-23 06:26] jedidiahuang commented on #11
Hi Liam,
I'd just downloaded reconnect_subscriber.c and compile it:
Compile Error messages are as following:
[code]

[2018-05-23 16:30] #13 closed

[2018-05-23 16:31] LiamBindle commented on #13
Good catch! Thanks @amasmiller.

Liam

[2018-05-23 18:35] amasmiller opened #14 "Use of constants MQTT_PUBLISH_QOS_[1|2] in MQTT_CONTROL_PUBLISH"
Liam,

I think I may have found a bug?

In the logic where MQTT_CONTROL_PUBLISH is handled (around line 586 of mqtt.c), the QOS level is used to determine the next logic state & what to send.

In this logic, I believe use of the constants MQTT_PUBLISH_QOS_1 and MQTT_PUBLISH_QOS_2 are incorrect.  They are being compared against "qos_level", which has been decoded (bit shift applied), however, the c

[2018-05-24 01:28] jedidiahuang commented on #11
Hi Liam,

I think you didn't add **mqtt_reinit()** and **mqtt_init_reconnect()** function into mqtt.c
Following error message were ld error:
[code]

[2018-05-24 04:27] LiamBindle commented on #14
Hi Scott,

Yes, you are correct. I'm really sorry about that; I hope that didn't take you too long to track down.

I have added the fix to the master branch.

Best regards,

Liam

[2018-05-24 04:39] LiamBindle commented on #11
Hi Jedidiahuang,

Hmm, I'm not sure why that would be happening. To me, it looks like you are not using the most recent `mqtt.c` from the [reconnect branch](https://github.com/LiamBindle/MQTT-C/blob/reconnect/). Is this possible?

On the reconnect branch you will find `mqtt_reinit` on line 132:
https://github.com/LiamBindle/MQTT-C/blob/e052e97224a299153e37fd751bd66a77a951ccea/src/mqtt.c#L132-L146

[2018-05-24 09:36] jedidiahuang commented on #11
Hi Liam

About detecting TCP socket connection is broken and reconnect a new socket is not easy.
Your reconnection_subscriber.c example inject an MQTT_ERROR_SOCKET_ERROR by setting it to client.error  instead of physically unplug LAN cable for few seconds, you'll not see the truth.
I don't think you've solved reconnection issue, it won't work in real world.
Furthermore, since you use a buffer for

[2018-05-24 12:17] amasmiller commented on #14
Thanks!

[2018-05-24 19:40] djarvis opened #15 "Websocket support"
Any plans to support websockets?

[2018-05-25 15:37] LiamBindle commented on #15
Yeah, I think so. Currently I'm working on OpenSSL support (hopefully completed this weekend), but I think supporting websockets next would make sense. I'm going to change this thread to a feature request and update the title accordingly if that's okay.

I haven't worked with websocekts before though, so if I'm doing the implementation I'll need a bit of time to get caught up on websockets. Are th

[2018-05-25 15:50] LiamBindle commented on #7
I'm going to close this issue because I think it fits into the [Automatic reconnect](#11) enhancement. If anyone feels differently, please feel free to re-open this issue.

[2018-05-25 15:50] #7 closed

[2018-06-01 19:55] LiamBindle commented on #10
Closed with 74da7afa8be91089459afa9dba25c023f4cc7385.

To compile for OpenSSL you must define `MQTT_USE_BIO` which will cause the socket handle to be a `BIO*` as opposed to a file descriptor. This `BIO*` is what you pass to the init functions.

[2018-06-01 19:55] #10 closed

[2018-06-01 20:54] LiamBindle commented on #11
Hi Jedidiah,

Sorry for the delay in responding, I missed your comment.

I understand your concerns, but I think we have different ideas about the purpose of this enhancement. My intention with this enhancement is to provide a simple and clean way to reconnect a client to the broker after the client has gone into an error state (before this you had to fully destroy the client and reinitialize ever

[2018-06-01 20:57] LiamBindle commented on #11
I'm going to close this issue because I think that it's resolved with 74da7af, but feel free to reopen or submit more enhancement issues if you would like.

Best regards,

Liam

[2018-06-01 20:57] #11 closed

[2018-06-27 14:32] buutuud opened #17 "How To Konwn NetWork Disconnect?"
Hi, There is no callback,get me network disconnect? if i want to known how to do that?

[2018-06-27 14:34] rosepinkr opened #18 "error:failed to load the certificate"
I am having problems with running your openssl_publisher.
I get an error saying failed to load certificate.
My broker is on Amazon AWS EC2.
However if I try to publish with mosquitto command line with same parameters I am able to publish.

[2018-06-27 14:56] rosepinkr commented on #18
Seems the certificate issue : x509 certificate verification failed, but when i use the same on mosquitto pub it works.

[2018-07-01 03:29] LiamBindle commented on #17
Hi,

Inspecting the state of the underlying socket can be accomplished using the `inspector_callback` member in your `mqtt_client`. You need to define a function that looks like the following.
[code]

To attach your inspector callback set `client->inspector_callback` to `my_socket_inspector` (this must be done _after_ your call to `mqtt_init` or `mqtt_init_reconnect`). Your socket inspector functi

[2018-07-01 04:46] LiamBindle commented on #18
Hi,

I'm actually not too familiar with TLS/SSL so I might not be the best person to help debug this, but I can try. I'm also moving right now, so I apologize if my responses are slow (also I don't have access to my computer right now so I can't try to reproduce).

In `templates/openssl_sockets.h` I have written a barebones function&mdash;called `open_nb_socket`&mdash;that opens a secure connectio

[2018-07-13 03:21] LiamBindle commented on #17
Im going to close this issue. If you have more questions, feel free to reopen it, or create another issue.

Liam

[2018-07-13 03:21] #17 closed

[2018-07-16 06:56] markusschaber opened #20 "MQTT 5.0 support"
First: Thanks for your great work!

I want to kindly ask about the plans / roadmap of supporting MQTT 5.0.

MQTT 5.0 standard is almost finished, it's very unlikely that there will be greater changes against the current draft.

Mosquitto announced commercial sponsoring for 5.0 protocol development: https://mosquitto.org/blog/2018/05/press-release/

There's public brokers available for testing: htt

[2018-07-20 16:36] LiamBindle commented on #20
Hi Markus,

I'm glad you're pleased with it!

Personally I don't have plans to update support for V5.0, but **contributions are absolutely welcome**! I'd like to add support for the updated standard, but right now I just don't have the time. Recently I started on some new work, and for at least the next few months, I won't be able to dedicate much time to this project.

With that being said, I'm v

[2018-07-20 16:37] LiamBindle commented on #18
Because of inactivity, I'm going to assume this issue can be closed.

Please feel free to reopen if you continue to have trouble.

[2018-07-20 16:37] #18 closed

[2018-07-23 06:19] markusschaber commented on #20
Hi, Liam,

Yes, this fully answers my question, thanks! :-)

I'll keep you updated in case we'll jump on this train.

Markus

[2018-08-12 14:02] LiamBindle opened #22 "Must modify mqtt_pal.h to use a custom socket handle"
If the declaration of ``mqtt_pal_socket_handle`` were changed from a ``typedef`` to a ``#define`` then custom socket handles could be used without modifying [mqtt_pal.h](https://github.com/LiamBindle/MQTT-C/blob/master/include/mqtt_pal.h#L64-L69).

This would mean replacing lines 64-69 of mqtt_pal.h with the following.
[code]

I noticed this when reviewing pull request #21.

[2018-08-12 14:04] LiamBindle commented on #22
Whoops, accidentally closed so I reopened.

I will get to this sometime this week.

[2018-10-08 21:45] nbrownett opened #23 "Malformed Connect Packet when Will is included"
Found issue where the Connect Packet is malformed when will is included.

You aren't correctly including the will message length.

The following change to the mqtt_pack_connection_request function resolves the issue:
`if (connect_flags & MQTT_CONNECT_WILL_FLAG) {
        buf += __mqtt_pack_str(buf, will_topic);
        /* will message length */
	*(uint16_t*) buf = (uint16_t) MQTT_PAL_HTONS(will_me

[2018-10-13 02:16] #22 closed

[2018-10-13 02:20] LiamBindle commented on #22
To use a custom socket handle you must typedef your desired type to `mqtt_pal_socket_handle` and then `#DEFINE MQTT_USE_CUSTOM_SOCKET_HANDLE` _before_ `#include "mqtt.h"`.

[2018-10-15 08:24] CoorFun opened #24 "Is it possible to compile under Mac OS ?"
I modified the pre-compile condition, then I had this issue.

Modification:
[code]

I receive error when I try to compile:
[code]

It's trying to fetch `x86_64`, but I think this is not the architecture for OS X? How can I fix it..

[2018-10-17 12:29] LiamBindle commented on #24
Hi,

Have you managed to solve your problem?

If not, did you close your `#ifdef __APPLE__`?

Let me know if you continue to have problems,

Liam

[2018-10-17 22:00] LiamBindle commented on #20
I'm going to mark this "wontfix" because I'm not going to have the time to implement it in the foreseeable future.

If anyone would like to take this on, please let me know and I'd be happy to help get you started.

Liam

[2018-10-17 22:00] #20 closed

[2018-10-17 22:01] LiamBindle commented on #15
I'm going to mark this as "wontfix" because I'm not going to have time to add this in the next little while.

If anyone would like to take this on (it's not a big job) please let me know and I'd be happy to help get you started.

Liam

[2018-10-17 22:01] #15 closed

[2018-10-18 09:07] CoorFun commented on #24
Hi back,

Yes. I am sure it is closed otherwise there will be some grammar issues. I just have no idea which kind of reason cause this error. I am not very experienced for this kind of compiling on Mac platform. So I wonder if someone had this issue and successfully fixed. 😄

[2018-10-20 17:14] LiamBindle commented on #24
Fair enough, I just thought that might be a quick fix.

Sorry, I should have noticed this before, but there is a  `#ifdef __unix__` guard in `mqtt_pal.c`. Removing that should get `_mqtt_pal_recvall` and `_mqtt_pal_sendall` to compile.

Did that fix your problem?

[2018-10-26 12:59] LiamBindle commented on #24
Hi @CoorFun,

I'm going to assume that this resolved your issue. If not, feel free to open it back up!

Liam

[2018-10-26 12:59] #24 closed

[2018-11-12 07:37] szemzoa opened #27 "unaligned access exception"
Hi,

First, thanks for your work!

I try to use the client on a cortex-m0+ SoC, and it works great with QOS0.
With QOS1 it throws an unaligned exception, in function

ssize_t mqtt_pack_pubxxx_request(uint8_t *buf, size_t bufsz,
                                enum MQTTControlPacketType control_type,
                                uint16_t packet_id)

when packed_id is casted at *(uint16_t*) buf =

[2018-12-07 02:02] seafrog1 opened #28 "Test failing"
Hi
thanks for your work running your test I get:
[rainer@elfi MQTT-C]$ ./bin/tests
Staring MQTT-C unit-tests.
Using broker: "test.mosquitto.org:1883"

[MQTT Packet Serialization/Deserialization Tests]
[==========] Running 6 test(s).
[ RUN      ] TEST__framing__fixed_header
[       OK ] TEST__framing__fixed_header
[ RUN      ] UH��H���
Could not run test: Test failed with exception: Segmentation fa

[2018-12-08 14:07] LiamBindle commented on #28
Hi @seafrog1,

Hmm...that looks weird! The test sometimes fails if the Mosquitto test server is temporarily down, but the framing tests should never fail. It's possible your cmocka install is messed up (I say this because the cmocka output for the test names is weird) but it could be an MQTT problem.

To troubleshoot, try running one of the examples (e.g. `simple_publisher`). If that segfaults the

[2019-02-21 22:29] paolo-pr opened #29 "uninitialised value (pid_lfsr)"
Hello,

Please have a look at this line:

uint16_t __mqtt_next_pid(struct mqtt_client *client) {
    if (client->pid_lfsr == 0) {
        client->pid_lfsr = 163u;
    }

pid_lfsr is not initialised to a value, then valgrind outputs this error:

==13420== Conditional jump or move depends on uninitialised value(s)
==13420==    at 0x20256A: __mqtt_next_pid (in /home/paolo/programmi/laav-master/mqtt-a

[2019-02-25 14:22] LiamBindle commented on #29
Hi @paolo-pr, thanks for bringing this up. You're right, `pid_lfsr` probably should be initialized with the client.

Also, it's great to hear MQTT-C is working well in LAAV. I just took a look and it looks interesting! Thanks for the letting me know 😄

Cheers,

Liam

---

*Note for future reference*

Just as a note for anyone viewing this issue later, the initial value of `pid_lfsr` is the seed fo

[2019-02-25 14:30] #29 closed

[2019-02-26 17:34] joaopinto opened #30 "Cant compile example: openssl_publisher"
Hi,

Thank you for your work.
I am trying to use it to publish data. However I am unable to compile the example openssl_publisher.c with the following error:

[code]

Am I doing something wrong, or missing something?

Thank you again for your work. :)

[2019-02-26 18:06] joaopinto commented on #30
For sale of completeness I leave here my makefile. Note that I copied the content of the template/ folder into its parent folder.

My makefile:

[code]

[2019-02-26 21:48] joaopinto commented on #30
Note to past me:
Your makefile is missing a CFFLAG. It should be:

CFLAGS=-Wextra -Wall -std=gnu99 -Iinclude -Wno-unused-parameter -Wno-unused-variable -Wno-duplicate-decl-specifier **-D MQTT_USE_BIO** -lpthread **pkg-config --libs openssl** -lcurl

[2019-02-28 21:31] #30 closed

[2019-03-06 01:09] pointbre opened #32 "simple_publisher tested on Ubuntu 16.04 and AIX 6.1"
* Ubuntu 16.04
  * gcc -Wextra -Wall -std=gnu99 -Iinclude -Wno-unused-parameter -Wno-unused-variable -Wno-duplicate-decl-specifier examples/simple_publisher.c src/mqtt.c src/mqtt_pal.c -lpthread -o bin/simple_publisher
  * terminal 1: mosquitto_sub -h test.mosquitto.org -t "/datetime"
  * terminal 2: ./bin/simple_publisher test.mosquitto.org 1883 "/datetime"

* AIX 6.1
  * cc -Iinclude examples/si

[2019-03-06 03:44] LiamBindle commented on #32
Hi,

Thanks for the feedback. Glad to hear things are working okay for you now. Feel free to let me know if you run into any problems.

Using the `simple_publisher` example with the mosquitto clients is a good sanity check, but I'm hesitant to add it to the examples directory because I want to keep the examples as simple as possible with minimal dependencies.

Glad to hear it's running on AIX okay

[2019-03-06 03:44] #32 closed

[2019-03-20 01:37] #27 closed

[2019-03-20 01:41] LiamBindle commented on #27
Sorry that closing this issue took so long. Again, **thanks to @jepaan for the fix**.

[2019-04-01 23:50] paolo-pr opened #34 "Cmoka new repo"
Hello Liam,

this is just a little note to tell you that the CMOKA website linked by your page has broken/old versions, hard to install. According to this post:

https://github.com/clibs/cmocka/issues/13

...the right repo where to find the new versions, without installation issues should be this:

https://git.cryptomilk.org/projects/cmocka.git/

I installed without problems the last version taken

[2019-04-03 13:58] LiamBindle commented on #34
Hi Paolo,

Thanks for letting me know! I'll look into this this weekend.

Also, thanks for the feedback. It's always nice to hear where this project is being used. You're MQTT-AVSystem project looks really interesting! I'll comb through it this weekend.

Cheers,

Liam

[2019-04-09 17:02] Josh798 opened #35 "How to get number of writable bytes in send buffer"
Hi Liam,

Is there a way to get the number of writable bytes remaining in a client's send buffer? I see that there is the [`curr_sz`](https://github.com/LiamBindle/MQTT-C/blob/f4fcafeb0398572d6aa8613b76f4fe21f0de87ee/include/mqtt.h#L969) field in the client's message queue, but this doesn't appear to do exactly what I need it to. This field will remain unchanged (as far as I can tell) after a call

[2019-04-10 08:39] trustefda opened #36 "Use of the session present flag"
First of all thanks for the successful MQTT library for embedded systems.

I have the request to evaluate the session present flag from the CONNACK packet. If the flag is not set, my application must re-subscribe to the topics. If the flag is set my application may not subscribe to the topics again.

How would you implement that? I would suggest to specify another callback function during initiali

[2019-04-10 08:46] trustefda commented on #11
I have implemented the automatic reconnect with the functions mqtt_init_reconnect and mqtt_reinit as well as the callback. Is not there a problem with the messages with QoS Level 1 or 2 because the message qeueue gets cleaned up? After all, according to the MQTT standard, the messages with the QoS level 1 or 2 that have not yet been confirmed should be transmitted again as soon as the connection i

[2019-04-10 21:47] LiamBindle commented on #11
Hi Stefan,

Yeah, I think you are right. Section 4.4 of the [MQTT v3.1.1 standard](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/csprd02/mqtt-v3.1.1-csprd02.html#_Toc385349834) says that the client should properly re-send any unacknowledged packets. Currently, MQTT-C clears the entire state of the client upon `mqtt_reinit` (the implementation of `mqtt_reinit` is quite simple).

Do you see this as a

[2019-04-10 22:19] LiamBindle commented on #36
Hi Stefan,

I took a quick look at the "Session Present" flag (Section 3.2.2.2 of the [MQTT v3.1.1 standard](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/csprd02/mqtt-v3.1.1-csprd02.html#_Figure_3.8_%E2%80%93) for reference) and I don't really understand what it is supposed to do.

Is the idea just that you don't have to resend all the SUBSCRIBE packets? If so, why is this a problem (since these ar

[2019-04-10 22:37] LiamBindle commented on #35
Hi Josh,

Yeah, you are correct that `curr_sz` in `struct mqtt_client`  doesn't usually change when `mqtt_sync` is called. That is because the buffer is only flushed when you try to add a packet that is too big to currently fit. This prevents the need to flush of acknowledged packets after each received acknowledgement (a flush requires a memcpy of all unacknowledged packets in the buffer).

I thi

[2019-04-11 00:52] Josh798 commented on #35
Yes, the `curr_sz` field in `struct mqtt_message_queue` is what I was referring to. At a first glance, that appears to be what I need. But when I actually use it, it doesn't change after calling `mqtt_sync`. I created a quick & dirty paste [here](https://pastebin.com/UaYJnyAS) that should demonstrate this behavior. When I compile and run this code, this is the output I see:
[code]

[2019-04-11 05:09] trustefda commented on #11
Hi Liam,

currently it is not a problem. But maybe it will get relevant.

But I think that you get solved by deleting only the messages with the QoS level 0 from the message queue. And as long as you have no connection, the message queue will not be processed. The Connect Packet must then be sent immediately and not queued in the message queue.

[2019-04-11 05:15] trustefda commented on #36
Hi Liam,

right. One issue is that the client does not have to subscribe to the topics again. For extremely poorly connected clients, that could be interesting. But there are other aspects. In the following I quote from https://www.hivemq.com/blog/mqtt-essentials-part-7-persistent-session-queuing-messages/

**Persistent Session**

- The client must get all messages from a certain topic, even if it

[2019-04-12 12:33] LiamBindle commented on #34
Hi Paolo,

I have decided to leave the link to cmocha's official website in the README&mdash;hopefully they will resolve this at their end in a timely manner. Until then, this issue will be a useful reference.

For anyone having trouble building cmocha from source, try downloading the cmocha source from:

Thanks again @paolo-pr for bringing this up,

Liam

[2019-04-12 12:33] #34 closed

[2019-04-12 12:57] LiamBindle commented on #35
Oh yeah, I see what you mean. Unfortunately, I don't think there is a way to getting what you are looking for without looping through the start of the queue to see how many messages are of state `MQTT_QUEUED_COMPLETE`.

Try calling `mqtt_mq_clean(client->mq)` after every `mqtt_sync(client)`. This should force the message queue to be cleaned immediately, and bring the `curr_sz` field to the maximum

[2019-04-12 13:42] LiamBindle commented on #36
Oh, I see what you mean. Let's continue our discussion of #11 here as well. Also, sorry, I didn't realize you were looking for how to get started on implementing this&mdash;that's great! Let me know when you run into problems, and I'm happy to merge in your pull requests.

The big thing to keep in mind when you're working on this, and resending unacknowledged messages upon a reconnect is that **MQ

[2019-04-12 20:51] Josh798 commented on #35
Okay, yeah that seems like it will do the trick. I've got a busy couple weeks ahead of me so I haven't actually tried it yet, but it looks promising. I'll close this for now and add a comment or re-open when I actually try it out.

Thanks for your help,
Josh

[2019-04-12 20:51] #35 closed

[2019-04-14 12:42] LiamBindle commented on #35
Great, sounds good. Let me know how it goes when you get to it.

Liam

[2019-04-28 14:59] BloodyF opened #37 "blocking socket support"
Hi @LiamBindle,
Do you support blocking mode for receiving message?
I see a busy loop to call mqtt_sync(). It will be great if you have a blocking function
Thank you

[2019-04-29 17:09] Josh798 commented on #37
I'm not Liam, but I don't think one exists natively. However, you possibly could implement one by polling the `socketfd` in your `mqtt_client` instance using `poll`, `select`, or `epoll` if your platform supports it. Once one of those functions indicates that `socketfd` has data to be read, you could then call `mqtt_sync`.

[2019-04-30 14:01] LiamBindle commented on #37
Yeah, @Josh798 is correct. Currently, no, but it probably wouldn't be much work to add. Unfortunately though, right now I don't have the capacity to do this myself.

MQTT-C currently supports non-blocking sockets because `mqtt_sync` is intended to be called in a busy loop. Part of the reason for this is MQTT-C can run in single-threaded applications (no OS), and doing that with non-blocking socket

[2019-05-01 13:35] LiamBindle commented on #36
Hi @trustefda,

I'm going to assume I can close this issue.

Feel free to reopen it if you'd like.

Cheers,

Liam

[2019-05-01 13:35] #36 closed

[2019-05-01 15:04] BloodyF commented on #37
Thank you all,
I will implemented a fd select() to call mqtt_sync.

[2019-05-01 15:26] LiamBindle commented on #37
Great, that would be awesome!

Looking forward to your PR.

Liam

[2019-05-10 15:48] TonyTheLion opened #38 "MQTT_ERROR_CONTROL_FORBIDDEN_TYPE error with QOS_1"
I am using your library on an embedded device and its mostly working quite well, but I've run into an issue with receiving messages that were sent from Azure IOTHUB while the device is not connected to iothub.

The device connects only every so often to iothub to check for messages from the server and send messages to the server.  It then disconnects the underlying socket and does a mqtt_reinit on

[2019-05-12 04:23] LiamBindle commented on #38
The error `MQTT_ERROR_CONTROL_FORBIDDEN_TYPE ` is set when the fixed header's control type is invalid/reserved value. According to the MQTT v3.1.1 spec, the control type values of 0 and 15 are reserved ([see here](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc385349209)).

The only place where `MQTT_ERROR_CONTROL_FORBIDDEN_TYPE ` is actually ever set is
https://github.com/

[2019-05-14 04:25] LiamBindle commented on #38
Have you made any progress with tracking down what is going on?

So the messages with `control_type` of 0 are coming from Azure IOTHUB? If so, I believe the error would be on their end. It could also be a problem with how MQTT-C is parsing the fixed headers it receives (I haven't heard of this before though).

If the messages with `control_type` 0 are being generated by MQTT-C then you might have

[2019-05-14 13:35] TonyTheLion commented on #38
I've done some more testing, and it does look like we are receiving messages from Azure IOTHUB which have the wrong `control_type`.

I sent two messages from the Azure website to my device while the device is not connected.  The messages had the following content:

`test`
`test 1`

I added some prints into the MQTT-C code, specifically where it unpacks the fixed header and the send/receive calls.

[2019-05-14 14:24] LiamBindle commented on #38
Okay. Do you know if the packet sent by Azure IOTHUB has a `control_type` of 0, or if MQTT-C is parsing the packet incorrectly resulting in a `control_type` of 0? You could use Wireshark to inspect the ingress packets (format of the fixed_header is [here](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718020)). If you're having trouble interpreting the bytes of the packe

[2019-05-14 16:22] TonyTheLion commented on #38
I can definitely do a tcpdump but the connection is encrypted so you can't see the headers of the MQTT packets.  Azure won't let me do unencrypted connections.

I can do a print of the raw bytes that come in on my end tho, if that is any help?

[2019-05-14 16:50] LiamBindle commented on #38
Yeah, the encrypted bytes are no use, but if you could print the raw bytes that come in on your end we could take a look at that. Essentially, if you could dump the buffer `buf` here https://github.com/LiamBindle/MQTT-C/blob/201a2773308f1d7b629c2f9f58dd7178790e9c87/src/mqtt.c#L1644
right before you get the `MQTT_ERROR_CONTROL_FORBIDDEN_TYPE` error.

[2019-05-14 18:18] TonyTheLion commented on #38
Sent the following while device is offline
`test`
`test 1`

so capturing that data gives the following:

[code]

It does seem like they send us a null byte from what I can tell.

[2019-05-14 21:57] LiamBindle commented on #38
Here's my interpretation of the packets:

Packet 1 (this is actually more than one packet):
[code]
- `0x20 0x2 0x1 0x0`: this is the CONNACK
- `0x32 0x77`: this is the fixed header of the received PUBLISH, and it says there are 119 bytes after the 0x77 byte in the packet.
- `0x0 0x6f`: this says your topic name is 111 characters long
- `0x64 0x65 0x76 0x69 0x63 0x65 0x73 0x2f 0x6a 0x61 0x72 0x65 0

[2019-05-14 23:44] LiamBindle commented on #37
Hi, Just wondering how you're making out with this.  Are you still working on this?

[2019-05-15 11:00] TonyTheLion commented on #38
Yes that was it.  I was printing the `publish->application_message` in the callback and because it would print junk after the text, I wrote a `\0` after it.

Removing that line fixed the issue with receive.

Thank you so much for your help in debugging this.

[2019-05-15 14:30] LiamBindle commented on #38
Glad to help.

Let me know if you run into any more problems.

[2019-05-15 14:30] #38 closed

[2019-05-16 15:48] Josh798 commented on #35
I finally got around to this this week. This generally did what I wanted it to.

An issue I ran into, however, was that `__mqtt_ping` could be called on a call to `mqtt_sync`, which could cause an `MQTT_ERROR_SEND_BUFFER_IS_FULL` error. This is the error I was trying to avoid in the first place. This scenario would _probably_ only happen if a broker silently disappears when the send buffer is almo

[2019-05-16 15:53] Josh798 commented on #37
If nobody is currently working on this, I can take a shot at this in my spare time. But, my spare time is quite limited at the moment, so I might be a while if so.

[2019-05-16 16:02] Josh798 opened #39 "PINGRESP callback"
Hi Liam,

Does this library provide a way to notify my application of a PINGRESP message? I can't find it in the docs, and I didn't immediately see anything regarding this in the source. If this functionality was intentionally left out of the library, just let me know. If not, I'm willing to take a shot at implementing it.

In my system, I have multiple brokers that could disappear silently at any

[2019-05-16 17:44] LiamBindle commented on #39
Hi Josh,

MQTT-C should actually already be doing what you're trying to accomplish. MQTT uses a "keep alive time", where if the connection has been quiet for `mqtt_client::keep_alive` seconds, a PING is sent to the broker, and the broker HAS to respond. If the broker weren't to respond to one of these keep-alive messages you would get a full on `MQTT_ERROR`.

Take a look at the [`keep_alive`](http

[2019-05-16 17:47] LiamBindle commented on #37
I don't think this is a priority at all. In fact, I'm not actually sold on it being a good idea at all.

I'm going to close this issue for the time being, but if anyone does want this functionality, feel free to reopen 😄

[2019-05-16 17:47] #37 closed

[2019-05-16 17:59] LiamBindle commented on #35
The safest thing is to make your buffers as big as you can afford, and use MQTT-C's reconnect functionality.

Because pings, acks, etc are all happening behind the scenes, and being put on the same send buffer that your publishes are put on, checking that  `client->mq.curr_sz` is smaller than your publish message doesn't mean the buffer is big enough.

MQTT-C really does try to be semantically cor

[2019-05-26 08:25] M1cha commented on #37
@LiamBindle I need this functionality because I'm working with single-threaded applications with an event loop(interrupts from timers, uart, network, internal threads, etc send events to the loop to unblock it for one iteration).
I like that concept because it allows me to not worry about thread-safety while still having low cpu-load when there's nothing todo.

I've already started working on it b

[2019-05-30 11:33] LiamBindle commented on #37
Hi Michael,

Oh cool! Let me know how it goes!

Down the road, if you do want to merge it into the official MQTT-C repo, you could define a flag in the PAL that indicates if the network callbacks are blocking or non blocking. Then, in the MQTT-C source code handle the two separately. That would be my recommendation, but I good with whatever you decide to do.

The two benefits of merging it into th

[2019-06-04 10:31] LiamBindle commented on #39
Hi Josh,

I'm going to close this issue. Feel free to reopen it if you'd like.

Liam

[2019-06-04 10:31] #39 closed

[2019-07-16 07:39] syedumerbukhari opened #41 "Cross Compilation issue"
Brother, I could not find any solution about cross-compilation of this library. How to do it any solution?

[2019-07-18 06:00] BennyBread commented on #41
the cross compilation worked for me. I'm using CMAKE.
I just added the files to my folder, set the include directory and compild it with my crosscompiler.

some extracts from my CMakeLists.txt:

[code]

[2019-07-22 04:03] syedumerbukhari commented on #41
thanks, Brother for your kind reply.  :)  :)
Issue Solved.

[2019-07-22 04:04] #41 closed

[2019-07-30 12:30] akbarsaleemt opened #42 "HoW to run simplesubscriber and publisher?"
I am Totally new to this,I want to run simple_subscriber and simple_publisher in Ubuntu 14.04 .I tried buy ./bin/simple_subscriber and same for publisher in other terminal.But data not received by subscriber .
****************SUBSCRIBER RUNNING**************************
 akbarsaleem@IM-PC-102:~/akbar/mqqt2/MQTT-C/bin$ ./simple_subscriber 127.0.0.1 1888
./simple_subscriber listening for 'datetime'

[2019-08-01 09:30] #42 closed

[2019-08-05 09:49] akbarsaleemt opened #43 "I Wants to implement MQTT applications as full duplex application"
In this simplex communication implemented but I need to implement duplex communication.
I tried that also but getting same results on both sides, I modified the code as below.
/*****************************PUBLISHER*******************************************************/
	printf("Press CTRL-D (or any other key) to exit.\n\n");
	start1:	while(fgetc(stdin) == '\n') {

		time_t timer;
		time(&timer);

[2019-08-11 14:41] LiamBindle commented on #43
Hi Akbar,

I'm not entirely sure I understand what you've done (i.e. what modifications you've made, how you're running your clients, etc.) and what you're seeing (i.e. what output the clients are giving you).

Based on what you said, I'm guessing you essentially combined `examples/simple_publisher.c` and `examples/simple_subscriber.c` into a single executable. Then, I'm guessing you're running th

[2019-08-12 20:55] foufee opened #44 "How do you know if an operation is successful"
Since all the API's (subscribe, publish, connect) all return with MQTT_OK once the packet is in the queue, how can you find out if the associated SubACK, PubACK or ConnACK has been received?

[2019-08-13 13:12] LiamBindle commented on #44
Right now there isn't really a way to do this explicitly in MQTT-C, but it should be relatively easy to accomplish what I think you're wanting to do.

Before that though, I should mention that error states are taken seriously in MQTT-C, and `MQTT_OK` isn't always returned. If the client _ever encounters an error_, the function will return the appropriate error code. And these error codes are taken

[2019-08-13 19:45] foufee commented on #44
Hi,
  What I ended up doing was adding a "ack_callback" to the client object, and additionally passing a void* client_packet_identifier to each of the API's I was interested in (open, publish, subscribe and unsubscribe). The client_packet_identifier was also stored in the message queue, and then in _mqtt_read, as the ACK was received, the callback was triggered with an integer (1 == ack, 0 == time

[2019-08-14 11:57] LiamBindle commented on #44
Yeah, I see what you did. I haven't heard any other requests for ths feature to be added to MQTT-C, so I think I'd hold off until I hear more similar requests.

Anyways, glad you figured it out! I'm closing this issue but feel free to reopen at any time.

[2019-08-14 11:57] #44 closed

[2019-08-15 14:10] LiamBindle commented on #43
I'm going to close this issue. Feel free to reopen it if you want.

[2019-08-15 14:10] #43 closed

[2019-08-16 14:51] horchi opened #45 "How to know if all pending messages are read"
after the connection was established I subscribe to "/foo/bar/#" to read all messages (I'am interested in the retained ones - all other I skip at this time). As soon all messages are read I unsubscribe (later on subscribe to a specific topic).

This first step is to build an inventory of all retained messages at any topic below "/foo/bar/#".

Mostly this is working but I have a timing issue, since

[2019-08-18 22:20] LiamBindle commented on #45
So if I understand correctly you are subscribing to a topic and then you want to know when the broker has finished sending all that's topics messages? If so, I don't believe this can be done with MQTT (I could be mistaken though...if anyone knows otherwise please chime in!) because the broker and end-points don't exchange any information regarding what's to come.

Did I understand your question co

[2019-08-21 12:03] horchi commented on #45
Hi, yes that was my point.
I'm new to the MQTT protocol stack. In meanwhile I has read some (not really deep) details about it.
Yes it seems to be not possible to make sure all pending messages are arrived as on other messaging systems. Therefore feel free to close this here.

Actually I checking some latency and speed issues - I try to implement something what was done before by using system mess

[2019-08-26 13:25] LiamBindle commented on #45
Fair enough. Yeah MQTT will be pretty slow in comparison to a system message queue. Make sure you're calling `mqtt_sync(...)` very frequently. That's the function that actually does stuff on the network whereas functions like `mqtt_publish(...)` simply enqueue a message.

Good luck!

[2019-08-26 13:25] #45 closed

[2019-09-28 19:04] learn-more opened #48 "Support other build systems"
Hello,

Currently there is only a makefile to build with gcc,
would a PR to add a visual studio solution be accepted?

Or would a system like CMake be preferred in thatcase?

Regards,

Mark

[2019-09-29 13:21] anselmobattisti opened #49 "Preventing client ID collisions"
Hi

I foud a strange situation, If at the same machine multiple clients was created using the same name they are interferint with each other and the conections stop working.

`mqtt_connect(&client, 'CLIENTE NAME, NULL, NULL, 0, NULL, NULL, 0, 400);`

to overcome this situations i created a function to generate a random name each time the conection will be created.

Searching on the web i found oth

[2019-09-30 03:20] LiamBindle commented on #48
Hi @learn-more,

Absolutely! My preference would be CMake because that will cover more cases.

Liam

[2019-09-30 10:23] learn-more commented on #48
I tried it on windows using wsl already (just to get a feel for it), that seemed to work except for the bio example. (Did not investigate, but there was an error at runtime).

As for winsock: This is on my todo list, but that is several miles long already so no idea about a timeframe.

[2019-09-30 10:37] learn-more commented on #49
This is an mqtt feature.
If you want a clean session, connect using the flag `MQTT_CONNECT_CLEAN_SESSION`, or indeed generate a random name.

[2019-09-30 10:44] learn-more commented on #49
There is also the option to connect with an empty client name, but MQTT-C does not support that yet.
I have some code to fix that, and will send in a pull request for that somewhere this week.

[2019-09-30 14:08] LiamBindle commented on #48
Sounds good. Let me know if there's anything I can help with.

[2019-09-30 14:20] LiamBindle commented on #49
@anselmobattisti, Thanks for the feature request. I agree with @learn-more though. The `MQTT_CONNECT_CLEAN_SESSION` flag should be sufficient. Appending a random string to the client ID that you pass to `mqtt_connect()` make sense if you have multiple client instances for a single "logical client", but I think that's not something MQTT-C should do itself.

I'm going to close this feature request,

[2019-09-30 14:20] #49 closed

[2019-10-01 13:04] learn-more opened #52 "Split mqtt.h in detail and api headers"
For an end-user none of the `detail` api are interesting,
so by moving them to a new header (`mqtt_internal.h` for example) this is less visible for the end user.

This leaves a cleaner user-facing header, and exposes less implementation details.

[2019-10-01 15:01] LiamBindle commented on #52
@learn-more  I agree that moving the details declarations to their own header would be cleaner, but the reason I originally decided against this was that I really wanted MQTT-C to be one header and one source file. However, for end-users, this made implementing the PAL more daunting that it actually is, which is why I pulled the PAL out into it's own files.

I get the impression end-users' project

[2019-10-01 21:54] learn-more commented on #52
The first thing I do when using a library is opening the header, seeing where to start.
It starts with a license, then some explanation about the examples, followed by something from the group `unpackers`, with some error-related stuff from the api group.
Then, ~1000 lines of internal stuff, followed by a bunch of api definitions starting at line ~1200, interleaved with internal functions.

In thi

[2019-10-01 22:02] LiamBindle commented on #52
Yeah, that's fair. I don't see a reason all the internal details' delcarations couldn't be made static declarations in `mqtt.c` though. Maybe that would be a good way to hide the details without adding a new file.

What do you think?

[2019-10-01 22:29] learn-more commented on #52
As long as they are not needed for pal this seems like a reasonable compromise.
I would suggest to maintain some kind of structure, trying to group related stuff together.

[2019-10-02 07:10] learn-more commented on #52
Another option would be to split it out in multiple files, and for `source` distributions use some script to combine them in one header and one .c file.
(googletest used to do this, not sure if they still do that)

[2019-10-03 14:48] LiamBindle commented on #52
Yeah, this should work.

Good idea

[2019-10-06 14:33] anselmobattisti commented on #49
thaks for the answars,

The MQTT nodejs component,  for example, appends a random string at the connection name every new connections.

mosquitto    | 1570369305: New client connected from 172.19.0.1 as mqttjs_e769b829 (p2, c1, k60).
mosquitto    | 1570369833: New client connected from 172.19.0.1 as UVIRW (p2, c0, k400).
mosquitto    | 1570369868: New client connected from 172.19.0.1 as mqttjs_3ee

[2019-10-08 15:19] LiamBindle commented on #49
The anonymous client ID functionality added by @learn-more is a clean replacement for what you're doing with the second one. I think that will be merged in the next couple days.

The MQTT_CONNECT_CLEAN_SESSION flag forces the broker to start the client's session "fresh" (throw out any existing state).

From the MQTT 3.1.1 Spec:

...
If CleanSession is set to 1, the Client and Server MUST discard a

[2019-10-11 15:16] JohnSmith2591 opened #54 "Error when creating a function"
Hello,

First of all I appologize if I did something wrong nor a noob mistake. I'm not used to code.
Your example runs flawlessly and it is straight forward. I tried to create functions to perform opening socket task, publish and so on to get a much clearer main().
Then I get a segmentation error I can't understand.

Here is my modified code
`#include <unistd.h>
#include <stdlib.h>
#include <stdio

[2019-10-11 15:18] JohnSmith2591 commented on #54
Sorry, it seems the 'Insert code' button did not appreciate my code copy/paste

[2019-10-14 22:24] LiamBindle commented on #54
Hi,

Thanks for the question. The thing that immediately jumps out to me is that you're allocating `sendbuf` and `recvbuf`on the stack&mdash;so `sendbuf` and `recvbuf` become invalid as soon as `open_mqtt_socket()` returns. You could fix this by allocating them with `malloc` and then explicitly passing their size to `mqtt_init()`.

Regards,

Liam

[2019-10-22 13:57] #54 closed

[2019-10-30 10:02] JohnSmith2591 commented on #54
Hello Liam

Thank you very much for your quick answer, and sorry for giving a so late feedback.
I have to thank you very much for your help. Following your advice make the magic happen.
Thanks a lot for your help and great work !

Best regards
Florent

[2019-11-12 02:53] theanhhoang opened #55 "Prevent Client from receiving its own messages"
Hi Liam,
Basically I am joining the simple_subscriber.c and simple_publisher.c into one script, then that can send and receive message at the same time. Now I am wondering that is any way that Client can prevent to receive its own published messages?
I know that we can do it by choosing different topic names, but I still want to find a better solution.

Thanks!

[2019-11-12 07:01] MikhailNatalenko commented on #55
You suggest a wrong and unexpected MQTT client behaviour. I'm pretty sure that the client SHOULD get its own messages.

[2019-11-12 15:12] LiamBindle commented on #55
I believe @MikhailNatalenko is right. If you subscribe and publish to the same topic, I think you'll receive your publishes. I haven't seen anything in the standard about this, but feel free to correct me if I'm wrong.

Liam

[2019-11-12 15:12] #55 closed

[2019-11-12 16:09] brianreinhold opened #56 "A mqtt_pal.c file for Windows?"
This looked so nice and simple until it turned out that I have to create the mqtt_pal.c file for my platform. It would be great if someone has already made such a file for Windows. It looks like it demands a significant amount of knowledge about sockets in Windows and I do not.

[2019-11-14 00:53] LiamBindle commented on #56
Hi @brianreinhold,

@learn-more Added a Windows PAL in #53. I haven't had a chance to make a couple minor modifications to the CMakeLists, but you could get a Windows PAL from his PR.

Liam

[2019-11-15 06:31] sawyerliu opened #57 "mqtt_subscribe and mqtt_publish is not ok when establishing encrypted channel based on TLS1.2"
Hello,
  the MQTT C code is run on MCU connects to mosquitto broker. using TLS1.2 to pass handshake, then mqtt_connect to broker and send pingres, all are ok. But when sending mqtt_publish and mqtt_subscribe, the broker will has an error. see attached file.
![Untitled](https://user-images.githubusercontent.com/49260033/68921641-592f4800-07b4-11ea-85c3-35255840bb1d.png)
![Untitled2](https://user-im

[2019-11-18 07:28] theanhhoang opened #58 "OpenSSL subscribe"
Hi Liam,
I am working on the function for OpenSSL Subscriber. I tried combining the OpenSSL_Publisher and Simple_Subscriber to produce the function. However, there is an error that I am facing, which is Subscriber subscribes all topics, regardless which topic I have set.
Then, I want to ask that do you have any example for OpenSSL subscriber?

Thanks in advance!

[2019-11-22 11:38] sbovbjerg opened #59 "BIO_do_connect will cause the application to exit if called after it has returned 0"
In openssl_sockets.h BIO_do_connect is called repeatedly for 10 seconds or until it succeeds or fails. If the connection fails (i.e. there is no broker running), it will return 0. Calling it again after this will cause the process to exit from within the C runtime (in glibc on Linux, that is).

A possible solution is to exit the while loop if the BIO_do_connect returns 0, since is seem like the BI

[2019-11-22 12:02] sbovbjerg opened #60 "Reconnecting subscriber client core dumps if the broker is not present"
This happens when using BIO sockets (encrypted or not) and the broker is not present at startup (or is stopped):
In` mqtt_sync()`, `__mqtt_recv()` is called regardless of the state of the connection client->socketfd, causing a segmentation fault due to a call to` BIO_should_retry()` in `mqtt_pal_recvall()` with an illegal `fd` value.

This can be avoided by returning before the call to `__mqtt_rec

[2019-11-25 01:58] LiamBindle commented on #48
Closed in #62

[2019-11-25 01:58] #48 closed

[2019-11-25 01:59] LiamBindle commented on #56
Added in #63

[2019-11-25 01:59] #56 closed

[2019-11-25 01:59] #52 closed

[2019-11-25 02:02] LiamBindle commented on #57
Hi @sawyerliu, sorry for the delayed response. Are you still having problems? If so, could you provide some more information on your issue? Have you been able to diagnose what's causing the socket error? What MQTT-C error code do you get([see here](https://liambindle.ca/MQTT-C/group__api.html#gad0c901a8d30691ed0ca17915b691b7e7))?

[2019-11-25 02:06] sawyerliu commented on #57
Hi Liam,
       The issue is resolved, maybe it is caused by router. The MQTT-C is very good for embedded device. Thanks.

Best Regards
Sawyer Liu(刘维峰)

From: Liam Bindle <notifications@github.com>
Sent: Monday, November 25, 2019 10:03
To: LiamBindle/MQTT-C <MQTT-C@noreply.github.com>
Cc: Sawyer Liu <sawyer.liu@nxp.com>; Mention <mention@noreply.github.com>
Subject: [EXT] Re: [LiamBindle/MQTT-C] m

[2019-11-25 02:06] LiamBindle commented on #58
Hi @theanhhoang, sorry for the delayed response. What you've tried is the correct approach. The only difference between the simple and openssl examples is how the socket is create/set up.

It's very strange it appears the subscriber is subscribing to all topics. My guess is an application-level peice of code would be causing this. Have you made any progress with tracking down your issue?

[2019-11-25 02:07] LiamBindle commented on #57
@sawyerliu

Great! Glad things are working well for you.

[2019-11-25 02:07] #57 closed

[2019-11-25 02:32] LiamBindle commented on #59
Hi @sbovbjerg, thanks for opening this issue. I believe this should be fixed in 560f05a. Please let me know if there are any more issues.

[2019-11-25 02:32] #59 closed

[2019-11-25 02:35] LiamBindle commented on #60
Hi @sbovbjerg, thanks for opening this issue. I see what you mean&mdash;good point! Would you mind submiting a PR with your proposed change?

[2019-11-25 08:08] sbovbjerg commented on #60
Hi Liam,
For some reason I cannot reproduce the issue with the MQTT examples (I created a bio_reconnecting_subscriber for the purpose but "unfortunately" it works just fine).

I my implementation, I use almost identical copies of bio_sockets.h and openssl_sockets.h from examples/templates.
However, when I call the `open_nb_socket` function (and the broker is stopped),  I end up in the error handli

[2019-11-25 09:15] sbovbjerg commented on #60
Figure out how to make it "fail" properly.

PR: https://github.com/LiamBindle/MQTT-C/pull/64

[2019-11-25 15:12] LiamBindle commented on #58
Received an email from @theanhhoang saying this issue was resolved. The issue ended up being `-D MQTT_USE_BIO` wasn't being defined in their build.

[2019-11-25 15:12] #58 closed

[2019-11-25 15:15] #60 closed

[2019-11-26 02:27] theanhhoang commented on #58
Hi @LiamBindle, sorry for the late reply. I have checked my build and `-D MQTT_USE_BIO` is in the build and the subscriber still subscribes every topics!
My build is like this:
`gcc -Wextra -Wall -std=gnu99 -Iinclude -Wno-unused-parameter -Wno-unused-variable -Wno-duplicate-decl-specifier -D MQTT_USE_BIO examples/openssl_subscriber.c src/mqtt.c src/mqtt_pal.c -lpthread `pkg-config --libs openssl`

[2019-11-26 11:24] learn-more commented on #58
Hello @theanhhoang

The problem here is that you are using a very generic subscriber name, and you are also not passing the `MQTT_CONNECT_CLEAN_SESSION` flag to mqtt_connect.

Effectively, this means that you continue on the previous session of a client named `subscribing_client`.

[2019-11-26 16:02] theanhhoang commented on #58
Hi @learn-more, `MQTT_CONNECT_CLEAN_SESSION` solved my problems.!!!!

Thank you so much for your help! 💯 💯 💯

[2019-12-03 12:43] daanpape opened #65 "MQTT_ERROR_SEND_BUFFER_IS_FULL error periodically"
Hello,

I'm using MQTT-C in a project and I'm very happy with it. I based my multithreaded implementation on the `reconnect_subscriber` example and it works very good except for one thing. I'm publishing 1 message of 155 bytes every 2.5 seconds.

I originally had a send buffer size of 102400 bytes and I saw repeated error states containing the MQTT_ERROR_SEND_BUFFER_IS_FULL error. To test if this

[2019-12-03 15:47] LiamBindle commented on #65
Hi @daanpape, thanks for writing.

That is strange, especially since your messages are QOS 0. Since they're QoS 0, all your publish messages should go to the `MQTT_QUEUED_COMPLETE` state as soon as `__mqtt_send` (called in `mqtt_sync`) is called (that happens [here](https://github.com/LiamBindle/MQTT-C/blob/24b1de6f0e632d0f3ccbb27e5ef1ce355abe54cd/src/mqtt.c#L574)).

Do you think it's possible the

[2019-12-03 18:04] daanpape commented on #65
Hello @LiamBindle,

Thank you for the fast reply. I'm first going to answer your other questions:

1. Yes I'm using an unmodified PAL file.
2. I'm running the software on OpenWRT on a MIPS processor
3. I'm using a broker i wrote myself but which is tested with multiple MQTT clients

To answer your first question: I learned that everything is possible :), ok now to be more serious. I highly doubt t

[2019-12-03 18:24] daanpape commented on #65
Hello @LiamBindle,

I managed to see the problem by inspecting the message queue:

[code]

And I now get the output:

[code]

[2019-12-03 18:48] daanpape commented on #65
I have now updated my broker implementation and this completely fixed the problem. Thanks again @LiamBindle

[2019-12-03 18:48] #65 closed

[2019-12-03 21:48] LiamBindle commented on #65
@daanpape Oh great, I'm glad you got your issue solved! :smile: Let me know if you run into any more problems.

[2020-01-03 02:12] andrewchambers opened #66 "Question about possible bug in send logic"
So I was reviewing the code and see something that confuses me:

It a message is partially sent:
[code]
But then a resent timeout occurs:
[code]

It seems to me you will be sending broken half packets since you reset send_offset halfway through a send of a packet.

It seems this bug doesn't happen in practice because there is a bug in the send calls for unix:

[code]

You don't seem to be handling

[2020-01-08 15:21] LiamBindle commented on #66
Hi Andrew, thanks for opening the issue. You bring up a good point&mdash;I don't think partially sent messages are continued properly by subsequent `mqtt_sync()` calls.

### Partially sent messages
That being said, I don't think I'd consider this a bug, just because MQTT-C doesn't claim to support such a feature. The `mqtt_pal_sendall()` function is supposed to send *everything* in the send buffer

[2020-01-09 01:16] andrewchambers commented on #66
Thanks for the reply, I think I had assumed the code was meant to work with non blocking sockets, but I can see that was just an assumption on my part.

I imagine not too much is needed to implement such a feature, but I don't have a need as in the end I used redis pubsub instead of mqtt.

thanks again for the answer though. This is a great project.

[2020-01-09 01:16] #66 closed

[2020-01-09 15:55] LiamBindle commented on #66
Fair enough. Thanks for bringing this to my attention!

Cheers,

Liam

[2020-02-13 09:15] wyx087 opened #68 "Example payload contains unwanted charactors"
In your subscriber examples, directly printing `(const char*) published->application_message` occasionally gives extra unwanted charactors. This makes number-based payload unreliable and introduces errors into calculations.

To fix this, I've added usage of application_message_size in the printf statement. For example:
`sprintf(payload, "%.*s", published->application_message_size, (const char*) pu

[2020-02-13 20:04] LiamBindle commented on #68
@wyx087 Thanks for raising the issue. The examples are just meant to be simple demos of how to get started, but I wasn't aware the subscriber gives extra characters some times&mdash;do you know why? To me it looks like the null-character should be included in the payload:
https://github.com/LiamBindle/MQTT-C/blob/399361fb011577bf7c0444a08982a18a739f91fd/examples/simple_publisher.c#L118

[2020-02-13 20:17] learn-more commented on #68
The problem is most likely that not all publishers do this.
The default samples continue sessions from others, so he might be looking at that

[2020-02-13 20:25] LiamBindle commented on #68
That's a good point. @wyx087 did you modify simple_publisher.c? If you're using simple_subscriber.c out-of-the-box on a common testing broker like https://test.mosquitto.org, the topic name is "datetime" so it's possible other peoples' publishes to "datetime" are coming back to you.

Regardless, I don't think this is a bug, but @wyx087 your approach using `application_message_size` is what you sho

[2020-02-13 20:25] #68 closed

[2020-02-13 20:52] wyx087 commented on #68
I agree, it's not a bug for the core program. The purpose of this post is just to make you aware that the examples could use some form of length limiter. Hopefully will save other novices like me from some head-scratching.

Quite possibly the problem lies with my publisher. But monitoring with Home Assistant MQTT doesn't reproduce this. Equally, HA could have implemented length limiter.

Here is d

[2020-02-25 08:15] kusumy opened #69 "Need help compile in Windows 10"
I clone this repo on the windows 10 machine.
Then i tried to build simple_publisher example using Visual Studio Code (using gcc as compiler), but there are an error messagea:

fatal error: mqtt.h: No such file or directory

- error: unknown type name 'mqtt_pal_socket_handle'
 ssize_t mqtt_pal_sendall(mqtt_pal_socket_handle fd, const void* buf, size_t len, int flags);

- error: unknown type name 'u

[2020-02-28 19:47] LiamBindle commented on #69
Hi @kusumy. The problem is that the `include/` subdirectory of MQTT-C is included in the list of include directories that your compiler is using. I'm not familiar with gcc+VSCode, but the gcc flag for include directories is `-I`. I'd recommend looking up how to add include directories to your VSCode project.

[2020-03-02 15:09] #69 closed

[2020-03-28 11:05] moravas opened #70 "Get data from subscribed topic"
Hi Liam,

I am new to MQTT but in my project I have to use MQTT connection.
I have checked the examples, but I haven't see the point where I can read back the data belonging to topic I have subscribed to.
Can you extend one example, or just point to the right API here?

Thank you

[2020-03-28 19:21] LiamBindle commented on #70
Hi @moravas. Could you expand on what you mean? What information about the topics you've subscribed to do you need? Do you mean the bits of the SUBACK packet?

[2020-03-29 07:44] moravas commented on #70
@LiamBindle E.g.: in the simple_subscriber example, the mqtt client subscribe to the default topic: "datetime".
As I understand MQTT, in this case, client gets update about topic change, if anybody publish same topic towards to the broker.

What I miss in these examples: how can read out the received topic change? How can I process that the "datetime" topic has changed?

[2020-03-29 14:44] LiamBindle commented on #70
@moravas That's done by a callback. The simple_subscriber callback is called `publish_callback()` and is here:
https://github.com/LiamBindle/MQTT-C/blob/399361fb011577bf7c0444a08982a18a739f91fd/examples/simple_subscriber.c#L122-L132

For your application you're going to have to write your own callback function. You pass a pointer to your callback to `mqtt_init()`.

Since the simple_subscriber exam

[2020-03-31 07:07] moravas commented on #70
@LiamBindle This is exactly what I have looked for. The name was a bit confusing for me. Thank you.

[2020-03-31 07:07] #70 closed

[2020-03-31 15:21] LiamBindle commented on #70
Great! No problem

[2020-04-25 12:29] lygstate opened #71 "mqtt_pal_sendall and mqtt_pal_recvall's flags are useless, I suggest remove it from the decl"

[2020-04-28 15:29] LiamBindle commented on #71
The flag was initially intended to be passed from a field in the client struct (e.g. `mqtt_client::sendall_flags`). This hasn't been implemented yet, but it does provide some flexibility for the future. I'm going to close this issue because I don't think it's a priority.

[2020-04-28 15:29] #71 closed

[2020-05-13 10:15] cl-nkf opened #77 "What is the best way to publish data when receiving data through the callback?"
Hello, and thank you for you time for reading this.

Firstly a bit of context on what my goal is.

When I receive data through the publish_response_callback  I want to publish data on a topic.

For example I modified the code in the reconnect_subscriber example and added a publish.
[code]

However when doing this the sample is stuck in the mqtt_publish function before Mutexing the client.

I quick

[2020-05-13 14:52] LiamBindle commented on #77
@cl-nkf Thanks for writing.

I think the best way would be to mark (e.g. with a global flag or in `mqtt_client::publish_response_callback_state`) that you received an ingress message and then have a thread/section of your program dispatching your publishes whenever it sees that mark. The contents of `publish_callback` should be kept pretty light because it is inside the mutex, and it's called in t

[2020-05-13 15:11] cl-nkf commented on #77
Thank you for your quick answer. I'll rethink the way my API works then.

[2020-05-13 15:11] #77 closed

[2020-06-05 22:12] markrad opened #79 "BearSSL?"
This not an issue.

For a proof of concept I needed to find an alternative library to Paho MQTT and a different TLS library in order to demonstrate how one might replace those components in a project that I am associated with. I looked through my options in GitHub and I liked your particular implementation. It was clean and simple and provided a mechanism that allowed me to use an alternative TLS

[2020-06-08 14:22] LiamBindle commented on #79
@markrad Yeah, MQTT-C sounds like a good fit for your project. Also, you're correct in that MQTT-C doesn't allocate any memory.

I haven't seen BearSSL before, but it looks cool and seems like a good fit for MQTT-C. I'd be happy to add it to the default available PALs. I think you understand the spirit of MQTT-C (i.e. simple and hackable), but perhaps I could suggest a few things:
1. The defaults

[2020-06-10 08:40] edbek opened #80 "FreeRTOS?"
It would be great if your project would be ported to FreeRTOS!

[2020-06-10 08:59] edbek opened #81 "MQTT C embedded server?"
It was absolutely wonderful if the portable MQTT C server for embedded systems still appeared!

[2020-06-11 14:23] ravdeepboparai opened #82 "feedback about published message"
Hello All,
I was wondering how i can get to know that the message published is being acknowledged?
Can you please point to any documentation about it?

[2020-06-11 17:10] LiamBindle commented on #82
Hi @ravdeepboparai, I assume you're talking about the broker's acknowledgement right? Internally, MQTT-C retransmits a message if an ACK is expected and the elapsed time since the message was sent is greater than [`mqtt_client::response_timeout`](https://liambindle.ca/MQTT-C/structmqtt__client.html#a4ee652148f2b1b338f1527a85879e970). If the elapsed time is greater than the response timeout, then t

[2020-06-11 17:18] LiamBindle commented on #81
@edbek That would be great! IIUC MQTT brokers requirements are quite a bit more than the client, so I'd imagine it would interesting challenge. That being said, I think this is outside the scope of MQTT-C. If anyone knows of any good MQTT broker's that are practical in embedded system, please post it here!

[2020-06-11 17:18] #81 closed

[2020-06-11 17:24] LiamBindle commented on #80
I know some people are using MQTT-C with FreeRTOS! IIUC STMicrocontrollers are using FreeRTOS + MQTT-C in X-CUBE-CELLULAR, and NXP is using FreeRTOS + MQTT-C for AN12805.

MQTT-C isn't mean't to be an out-of-the-box solution; instead, it's meant to be easily ported to your platform. You might be able to find a fork with a FreeRTOS PAL though. If not, implementing your own shouldn't be too much wor

[2020-06-13 16:49] edbek commented on #81
https://github.com/martin-ger/uMQTTBroker

[2020-06-16 15:06] LiamBindle commented on #82
@ravdeepboparai I'm going to close this issue. Please feel free to reopen if you have any more questions.

[2020-06-16 15:06] #82 closed

[2020-06-24 09:06] the-mind opened #84 "Publish File"
How can I publish a file, like a zip file or a binary using mqtt-c ? Please help.

[2020-06-25 04:22] LiamBindle commented on #84
@the-mind A zip file is just an array of bytes (i.e. a 13.4 KB zip file is simply 13400 bytes that are structured in the zip file format). To send a zip file with MQTT-C I would do something like this:
1. Open and copy the zip file and copy all its bytes into an array (e.g. open file, for each byte in the 13400 bytes, copy it into a local `void*` array that's at least 13400 bytes)
2. Publish that

[2020-06-25 07:41] the-mind commented on #84
This is the snippet of my C code as it is. I'm honestly really not that good in C

[code]

Where could I be going wrong ? It's not successfully publishing data as it should.  Could you also share a snippet that could work? Or help me debug mine?

[2020-06-25 10:40] the-mind opened #85 "Client_id"
I want to use the client_id to connect to a mqtt broker.

    const char* client_id = NULL;
    /* Ensure we have a clean session */
    uint8_t connect_flags = MQTT_CONNECT_CLEAN_SESSION;
    /* Send connection request to the broker. */
    mqtt_connect(&client, client_id, NULL, NULL, 0, NULL, NULL, connect_flags, 400);

What should i change to connect using a custom client_id like 12345 etc.

[2020-06-26 14:36] LiamBindle commented on #85
@the-mind `client_id` is string that name your client. If you want your clients name to be 12345 you can do "12345".

[2020-06-26 14:43] LiamBindle commented on #84
I took a quick look at your snippet and nothing jumps out at me. Here are a couple suggestions that might help you troubleshoot:
1. Is the broker receiving your message? If you set up a different client and subscribe to your topic, do you see the same bytes come through?
2. You could check the MD5 sum of your buffer, and make sure it's the same as the MD5 sim of mqtttest.zip on your disk. It would

[2020-06-26 21:25] markrad commented on #79
I haven't actually forgotten about this. I needed to ensure that I could disconnect and reconnect because my use case has a TTL for the password which means I need to reauthenticate before that TTL expires. MQTT 3.1 does not offer in session reauthentication so I needed to disconnect and reconnect. I beat my head against a bug. When I reconnected it would negotiate the TLS but it would get a TLS e

[2020-07-01 14:23] #85 closed

[2020-07-01 14:23] #84 closed

[2020-07-06 03:10] LiamBindle commented on #79
Closed with #86

Thanks for the contribution!

[2020-07-06 03:10] #79 closed

[2020-07-06 03:11] #80 closed

[2020-07-09 22:27] markrad commented on #79
Just thought you might be interested in how I used your library: https://github.com/markrad/Azure-Embedded-IoT-C-Sample

[2020-07-14 23:47] markrad opened #88 "SegFault"
Possibly this is more of a documentation change than a fix.

I have an instance where I need to publish a message to the server while my code is in the received message callback function. The mqtt_publish works fine but, if one calls mqtt_sync inside that function it will crash.

[2020-07-15 16:19] LiamBindle commented on #88
@markrad Yeah, I think the documentation should say something about this (IIRC this came up once before). This receive callback is called in `mqtt_sync()` while the mutex is locked, so calls to `mqtt_sync()` (along with some other functions are not permitted). The callback is really just meant to be kind of like an interrupt, in that it should contain pretty minimal logic and be fast, but that isn

[2020-07-15 18:31] learn-more commented on #88
You might consider asserting on a situation like that,
to make it clear (also in code) that you are not supposed to do stuff like that.

[2020-07-17 13:11] vpetrigo opened #89 "Move existing MQTT PAL to templates"
Hello,

Thank you for your library. I switched to it after I faced some issues with Paho MQTT Embedded C library causing Azure IoT Hub Server Internal error. It has passed several days and no such an error with your library. 👍

I have a proposal to move a `mqtt_pal.c` and `mqtt_pal.h` from theirs current locations (`src/` and `include/` respectively) to the `examples/templates`. Basically, I would

[2020-07-17 13:20] vpetrigo opened #90 "Rename MQTT-C main header file"
Hello,

Another proposal from my side – rename main header file from `mqtt.h` as some embedded systems TCP/IP stack implementations (e.g. [lwip source tree][lwip]) already have `mqtt.h` header in it that leads to improper header file resolution. It may be workarouned by setting up include directories search path in a proper way, but that requires some additional action from an user of MQTT-C libra

[2020-07-17 14:43] vpetrigo opened #91 "Unaligned TX buffer leads to Segmentation/Hard Fault"
Hello,

As the implementation reflects MQTT TX buffer to the [internal memory queue][mq] that leads to Segmentation/Memory/Hard Faults on some platform. It definitely leads to Hard Fault on ARMv7-M architectures and most likely for other ARM architectures (ARMv7E-M, ARMv6, ARMv5, etc.) upon a write access operation. On the x86/x86-64 platform it is not so critical as it supports unaligned pointer

[2020-07-19 05:39] vrAaF7 opened #92 "Cannot have message size larger than 110 000 bytes"
I have modified simple_publisher.c to read local file and deliver file content over mqtt channel. However I cannot exceed ~110 000 byte limit (even maximum of MQTT is way bigger).

I have used mosquitto_pub & mosquitto_sub to verify that my broker allows bigger payload delivery.

Is there something I am missing here ?

[2020-07-20 02:37] ericli1018 commented on #91
@vpetrigo  I encountered that problem, is there a way to solve it?

[2020-07-20 06:16] ericli1018 commented on #91
@vpetrigo  Finally,  I solved by add "__attribute__((packed))" for every struct and enum in mqtt.h file.

[2020-07-20 06:28] vpetrigo commented on #91
I solved it that way:
• `main.c`:
[code]

[2020-07-20 07:50] sainsaar commented on #91
I've stumbled onto the same problem on ARM and used a very similar solution:
[code]
This ensures maximum alignment. The requirement is for the TX buffer to be at least as aligned as `struct mqtt_queued_message`. It seems that that should be said in the documentation.

[2020-07-20 15:01] nsi-ltd opened #93 "Improve Compatibility with C++ Applications"
When trying to use this code with a C++ application the runtime was failing to find any exported function. On inspection the typical construct that is added to header files was found to be missing. This should be applied to mqtt.h and mqtt_pal.h

[code]

[2020-07-20 15:18] LiamBindle commented on #92
@vrAaF7 Are you using a recent version of MQTT-C? https://github.com/LiamBindle/MQTT-C/pull/83 fixed a bug that was breaking messages larger than 64 KB.

[2020-07-20 19:34] LiamBindle commented on #91
Hi everyone, thanks for the discussion. I'm busy with work right now so I might be slow to respond. Thanks @ericli1018 @vpetrigo @sainsaar for chiming in.

Would it be best to add a note for this in the documentation? I'll defer to what you guys think is best.

[2020-07-20 19:35] LiamBindle commented on #93
@nsi-ltd I'd support this. I'm happy to merge a PR with this update :smile:

[2020-07-20 19:36] LiamBindle commented on #90
@vpetrigo Thanks for the suggestion. I don't have any problem with this, so I'd be happy to merge a PR with this update :smile:

[2020-07-20 19:44] LiamBindle commented on #89
@vpetrigo That's great! I'm glad it's working well for you.

I see what you mean. I'm a bit hesitant to move the PAL to the tempalte directory though--I feel like it might be harder for new users to understand which files need to be compiled for MQTT-C. I kind of like the approach that you're currently using though--what do you think of merging that in instead?

[2020-07-20 20:24] nsi-ltd commented on #93
Hi Liam,

Thank you for your support and efforts in producing this project.

[2020-07-21 07:47] clamorel commented on #88
I'm also facing this problem.
In the simple_subscriber example I add a mqtt_publish within the publish_callback function leaving the mqtt_sync call in the client_refresher thread. This cause a segmentation fault.
Somehow the first time I tried this it worked, now I can't any more.
I saw the publish_callback is called by mqtt_sync after locking the mutex so a mqtt_publish within the publish_callbac

[2020-07-24 09:40] vpetrigo commented on #91
Hello @LiamBindle,
I'm guessing that adding an attention note for the `mqtt_init` would be enough. I have prepared a PR and will be glad if you review that when you have a chance.

[2020-07-24 10:57] vpetrigo commented on #89
Hey @LiamBindle,

Sure, I'm not insisting on moving MQTT PAL to templates. 😄 To confirm: would you like me to introduce changes regarding adding an optional compilation flag that allows custom MQTT PAL header include into the main `mqtt.h/mqtt.c` file?

[2020-07-29 00:40] yamt commented on #90
@vpetrigo
lwip seems to have even conflicting symbols eg. mqtt_publish.
isn't it a problem for you?
just curious.

[2020-07-29 07:52] vpetrigo commented on #90
Hello @yamt,

No, it is not as long as you do not link lwip's MQTT client implementation altogether with MQTT-C. I can hardly imagine the case when several _different_ MQTT client implementations may be required in a single project. So, no, I do not see an issue with current public interface naming. 😄

[2020-08-04 00:52] davydnorris opened #98 "Generalise calback system?"
Hi all,

Firstly many thanks for this library - I'm working heavily with the ESP8266 NonOS SDK and have been looking for a replacement MQTT library due to several problems with the current one. The ESP folks have rewritten the MQTT in their RTOS SDK but have made some weird decisions around the use of blocking socket calls and other things :-(

This library has a lot of potential to replace the cu

[2020-08-04 15:57] LiamBindle commented on #92
I believe this is fixed in #83. Feel free to reopen if I've misunderstood.

[2020-08-04 15:57] #92 closed

[2020-08-04 16:04] LiamBindle commented on #98
I'd support this. Would a single generalized callback be preferred or 5 separate callbacks? I think 5 separate callbacks might fit better in line with the current approach in MQTT-C (i.e., it wouldn't introduce new events that trigger people's exiting callbacks). Also a single generalized callback might encourage people to put quite a bit of logic in that callback--increasing the likelyhood that p

[2020-08-04 22:13] davydnorris commented on #98
I guess it doesn't really matter - the current espmqtt library is from tuanpm/espmqtt and he has separate callbacks, and I simply use a wrapper to convert the separate data structures into events and then call the same function in each. The idea of the event driven approach is that it's a single function with a specific event payload - this makes it a bit simpler in NonOS or RTOS environments wher

[2020-08-05 09:54] hzwale opened #99 "Does the project support windows+MinGW?"
My OS is win10 , my IDE is Clion 2019.1.4, compiler is MinGW w64 5.0.
![image](https://user-images.githubusercontent.com/48111385/89398739-164b4100-d744-11ea-8a26-56465717b030.png)

when I build project,the following error ocured:

[code]

[2020-08-05 17:26] markrad commented on #99
Since the files can be compiled as a Windows binary, I'm not sure what benefit you would get from using MinGW. It appears that many for you errors are for types that are normally defined in stdint.h.

For what it's worth, you can compile and build the library in the Windows Subsystem for Linux (WSL). I regularly write and test my Linux applications in this environment using VS Code and this librar

[2020-08-06 08:58] the-mind opened #101 "Publishing files bigger than 64kb ?"
Quick question, does this fix https://github.com/LiamBindle/MQTT-C/pull/83 allow you to publish files as large as 20mb to  200mb? If not, what can I change to support it ?

At the moment, I seem unable to publish files as large as 1mb, please help.

[2020-08-07 22:37] LiamBindle commented on #93
Fixed by @markrad in #102

[2020-08-07 22:37] #93 closed

[2020-08-07 22:43] LiamBindle commented on #99
I completely agree with Mark.

If you're looking for a quick fix, it looks like `#include <stdint.h>` would fix all the errors (unless I missed some that aren't beacuse int/uint types aren't defined). `stdint.h` is where all the explicity types like `uint8_t` are defined on windows, so you just need to include that file. Let me know if you continue to run into issues.

[2020-08-07 22:47] LiamBindle commented on #101
I believe the standard says 260 MB is the upper limit, but I haven't tried sending large messages as large as 1 MB. Could you describe what happens when you try? Does it seg fault? Or does it fail to transmit? I'm sure you've done this but make sure your send/recv buffers are large if you're sending payloads that big.

[2020-08-09 03:39] hzwale commented on #99
In src/mqtt_pal.c  line 289
change to
#elif defined(_MSC_VER) || defined(WIN32)

In include/mqtt_pal.h  line 114

#elif defined(_MSC_VER) || defined(WIN32)

After modifying the above code, the bug mentioned above.

[2020-08-09 03:50] hzwale commented on #99
====================[ Build | all | Debug ]=====================================
"C:\Program Files\JetBrains\CLion 2019.1.4\bin\cmake\win\bin\cmake.exe" --build D:\OPENSOURCE\MQTT-C\cmake-build-debug --target all -- -j 6
[ 11%] Building C object CMakeFiles/mqttc.dir/src/mqtt_pal.c.obj
[ 22%] Building C object CMakeFiles/mqttc.dir/src/mqtt.c.obj
[ 33%] Linking C static library libmqttc.a
[ 33%] Bui

[2020-08-10 06:49] hzwale commented on #99
fixed after some head file inclued：

#if !defined(WIN32)
#include <sys/socket.h>
#include <netdb.h>
#else
#include <winsock2.h>
#include<windows.h>
#include <ws2tcpip.h>
#endif

![image](https://user-images.githubusercontent.com/48111385/89757745-bb856100-db18-11ea-8e55-e1babcce5416.png)

[2020-08-10 06:52] hzwale commented on #99
"C:\Program Files\JetBrains\CLion 2019.1.4\bin\cmake\win\bin\cmake.exe" --build D:\OPENSOURCE\MQTT-C\cmake-build-debug --target all -- -j 6
[ 33%] Built target mqttc
Scanning dependencies of target simple_subscriber
[ 44%] Building C object CMakeFiles/simple_publisher.dir/examples/simple_publisher.c.obj
[ 55%] Building C object CMakeFiles/reconnect_subscriber.dir/examples/reconnect_subscriber.c.ob

[2020-08-15 10:42] #91 closed

[2020-08-17 15:34] #89 closed

[2020-08-17 17:38] pmfsoares commented on #101
Hi, not the OP, but I'm also having some problems sending bigger payloads, in my code I'm sending a JSON string that is roughly 2MB, and from what I've tested it doesn't crash/seg fault, it just simply doesn't transmits, I used wireshark to confirm if was sending them, but the packets don't even appear on the network. So my guess is that it isn't simply transmitting.

[2020-08-31 15:21] #101 closed

[2020-08-31 15:21] #99 closed

[2020-09-30 21:37] nlhnt opened #104 "MSVC compatibility"
Edit: probably connected to [this](https://stackoverflow.com/questions/1372480/c-redefinition-header-files-winsock2-h)
Hello,
I have seen you guys have added CMake support.
I am trying to compile the lib on Windows using MSVC.
I am faced with cryptic errors which state that macros are trying to be redefined many times.
My command and log for cmake:
<details>

[code]

</details>

So far so good, bu

[2020-10-02 11:10] learn-more opened #105 "pthreads usage prevents building with msvc"
In the bio_publisher and openssl_publisher there is some code that uses pthreads for threading (and usleep/sleep).
To make this build / work in msvc, there should be additional code replacing this usage with windows-specific threading functions.
What would be the preferred way to handle this?

1. Add #ifdef(_WIN32) around the pthreads / windows specific functions
2. Create a copy of the bio_publis

[2020-10-02 14:43] #104 closed

[2020-10-02 14:45] LiamBindle commented on #104
Thanks for writing @nlhnt. It looks like Mark (@learn-more) pushed an updated that should fix your issue. Would you be able to give it a try?

[2020-10-02 14:50] LiamBindle commented on #105
Hi Mark. My vote would go towards (2) because I think it would simpler/easier for new users (they would probably only look at the platform-specific file for their platform), but I'll defer to whatever you think is best.

[2020-10-06 13:21] LiamBindle commented on #90
Closed, see #96. Feel free to reopen if you'd like to discuss further.

[2020-10-06 13:21] #90 closed

[2020-10-06 13:24] LiamBindle commented on #98
I'm going to close this since it doesn't appear anyone has picked it up. Thanks for opening though! If there's a similar feature request in the future, we'll link to this and that will make it more likely someone picks it up.

Thanks again!

[2020-10-06 13:24] LiamBindle commented on #105
Fixed in #108

[2020-10-06 13:24] #105 closed

[2020-10-12 02:24] yamt opened #110 "pal inconsistency among implementations"
consider the underlying socket is non-blocking.

1. the socket version of mqtt_pal_sendall seems to return
   MQTT_ERROR_SOCKET_ERROR on any errors, including EAGAIN.

   other implementations look similar.
   except the mbedtls version, which returns the bytes sent in case of EAGAIN-like conditions.

   IMO, the behavior of mbedtls version is better because
   __mqtt_send needs to know who many b

[2020-10-21 04:13] yamt opened #111 "reconnect callback related issues"
while i implemented a reconnect callback for my app, i found a few glitches.
maybe some of them just mean my usage was wrong.
maybe there are a room for improvements in MQTT-C as well.

* MQTT-C reconnect callback can not fail

I don't want to make it reconnect on MQTT_ERROR_SEND_BUFFER_IS_FULL.

also, the underlying transport (in my case, mbedtls) can fail.
(examples/reconnect_subscriber.c just e

[2020-11-06 23:08] przemyslawzygmunt commented on #111
Try to clear the queue after mqtt_sync ()
https://github.com/SUPLA/supla-core/blob/mqtt-broker-integration/supla-server/src/mqtt/mqtt_client.cpp#L157

After calling mqtt_publish (), check that the error is MQTT_ERROR_SEND_BUFFER_IS_FULL. If so, change to MQTT_OK.
https://github.com/SUPLA/supla-core/blob/mqtt-broker-integration/supla-server/src/mqtt/mqtt_client.cpp#L378

[2020-11-07 19:20] LiamBindle commented on #110
Thanks for raising this @yamt. Sorry for my delayed response. I like your suggestion. Are you able to make a PR for this?

[2020-11-13 05:17] yamt commented on #110
i guess i can submit a patch. but the only implementation i can actually test by myself is mbedtls.

[2020-11-13 05:21] yamt commented on #111
@przemyslawzygmunt thank you.
i have similar workarounds in my app. but i feel it's nicer if these things are handled by the library more naturally.
on the other hand, changing the library behavior might break the existing apps like yours and mine.
how do you think?

[2020-11-13 09:49] przemyslawzygmunt commented on #111
This should be handled by the library but is not. In my opinion, the library needs to be rebuilt not only in this area. Perhaps it is worth starting work on a new version that will not necessarily be compatible with the previous one.

From: YAMAMOTO Takashi <notifications@github.com>
Sent: Friday, November 13, 2020 6:21 AM
To: LiamBindle/MQTT-C <MQTT-C@noreply.github.com>
Cc: Przemysław Zygmunt <p

[2020-11-29 12:42] cl2006ky opened #115 "can not compile by mingw"
In file included from include/mqtt.h:43:0,                                                                                                                                                                         from communication_management.c:21:                                                                                                                                              include/mqtt

[2020-11-30 16:56] LiamBindle commented on #115
@cl2006ky Do you need MinGW? MQTT-C works on Windows. If you do need to use MinGW, I believe `#include <stdint.h>` might help you out but it will take a little bit of troubleshooting.

See also: https://github.com/LiamBindle/MQTT-C/issues/99#issuecomment-669324575

[2020-12-01 02:51] shu7734 opened #116 "Error C2223"
I'm compiler used vs2019 And BearSSL

err = br_ssl_engine_last_error(&fd->sc.eng);
And
 fd->low_write

Show Error C2223
fd is not a struct

how to fix it?

[2020-12-01 03:14] shu7734 commented on #116
fixed in mqtt_pal.h

#elif defined(_MSC_VER)
    #include <limits.h>
    #include <winsock2.h>
    #include <windows.h>
    #include <time.h>
    #include <stdint.h>

    typedef SSIZE_T ssize_t;
    #define MQTT_PAL_HTONS(s) htons(s)
    #define MQTT_PAL_NTOHS(s) ntohs(s)

    #define MQTT_PAL_TIME() time(NULL)

    typedef time_t mqtt_pal_time_t;
    typedef CRITICAL_SECTION mqtt_pal_mutex_t;

[2020-12-08 14:57] #116 closed

[2020-12-08 14:57] #115 closed

[2020-12-11 09:28] Pluto-kk commented on #111
Hello, I used mqtt in a project and encountered some problems:
1. I cannot use mqtt_error_str to print out "MQTT_OK"
2. When I use client.error == MQTT_OK as the connection condition to judge the connection, I connect to an IP host that does not have the server turned on, and it reconnects twice, and then shows the connection success status
I think 1, 2 may be caused by a problem, but I don’t know

[2020-12-11 09:48] przemyslawzygmunt commented on #111
@Pluto-kk Please show your code.

[2020-12-16 07:23] xiongyu0523 opened #117 "wolfSSL support?"
support wolfssl in pal? I have a project currently running MQTT-C on top of wolfSSL, it work well with mosquitto not sure if it covers all exceptional cases include server side termination etc. Would you please take a look to see if open for a PR. thanks

https://github.com/xiongyu0523/azure-sphere-mqtts/blob/master/MQTT-C/src/mqtt_pal.c

[2020-12-16 15:46] LiamBindle commented on #117
@xiongyu0523 Thanks for writing. I'd be happy to merge a PR adding WolfSSL to the PAL. Could you make a PR?

[2020-12-18 07:22] xiongyu0523 commented on #117
PR issued, please link with https://github.com/LiamBindle/MQTT-C/pull/118

[2020-12-18 15:48] LiamBindle commented on #117
Thanks @xiongyu0523!

[2020-12-18 15:48] #117 closed

[2020-12-23 14:42] vpetrigo opened #119 "No error in the case a QoS 1 message sending is timed out"
Hello,

I have met an issue that the library right now does not report an error if a message with QoS 1 (that should be valid for QoS 2 as well, but I have not checked that) sending meets command timeout.
As we can see [there](https://github.com/LiamBindle/MQTT-C/blob/master/src/mqtt.c#L522) in the case of command timeout `__mqtt_send()` just marks a message to be resent in the future with no erro

[2020-12-28 15:42] LiamBindle commented on #119
Hi @vpetrigo thanks for raising this. I'm not sure if I quite follow though. If I understand correctly, the problem you've identified is MQTT-C won't generate an error code if a QoS>0 message goes unacknowledged. Is that correct?

If so, I believe that's true---no error code will be generated, and unacknowledged QoS>0 messages will just loop through timeout+resending. I'm struggling to see how the

[2020-12-28 16:17] LiamBindle commented on #111
Hi @yamt thanks for writing. Sorry for no responding earlier.

This is challenging because a design contraint of MQTT-C is no malloc. Therefore, the send/receive buffers that you initialize the client with is the only block of memory (excluding stack) that MQTT-C uses. You can recover from this event if you're only dealing with QoS 0, but I don't think it's possible for QoS 2 (since behind-the-sce

[2020-12-29 22:08] vpetrigo commented on #119
Hello @LiamBindle,

Yes, that is correct. I'd say that keep-alive messages also have such an issue, but we may put off focusing on that.

I try to provide as many details as I can right now:
- QoS > 0 messages are considered as successfully published as soon a client receives an ACK from a broker

So, I think it is a good idea to silently push a QoS = 0 messages into client's queue and forget abou

[2021-01-18 15:29] LiamBindle commented on #119
@vpetrigo I would be in favor of a PR that added:
- `mqtt_publish2(...., uint16_t* pid)`: wrapper of `mqtt_publish()` which returns `pid`
- user callback for handling timed out messages (that way users can define custom timeout handling, e.g., keep-alive timeouts, publish timeouts, etc; if this callback is `NULL` then it retains its current behaviour)

I think those two would provide the necessary

[2021-01-28 09:09] oyvindaakre opened #122 "planned support for mqtt v5?"
Great work, guys!
My question: Are there plans to support mqtt v5?

[2021-01-28 14:55] LiamBindle commented on #122
Hi @oyvindaakre, I don't think it would be a large undertaking, but I haven't heard of anyone that wants to take it on (see https://github.com/LiamBindle/MQTT-C/issues/20).

If you or anyone else wants to implement version 5, I'd be happy to merge it.

[2021-01-29 10:41] oyvindaakre commented on #122
Ok, thanks for the prompt response :) If I'm able I'll let you know :)

[2021-02-18 14:26] truhann opened #124 "MQTT_ERROR_SEND_BUFFER_IS_FULL not cleared."
Good day,

I found, what I believe, is a possible bug.

Description:
Once more messages, that can fit in the send buffer, are pushed to the send buffer via mqtt_publish the MQTT_ERROR_SEND_BUFFER_IS_FULL error flag is set.  This flag is not cleared after the send buffer has been purged.

Work around:
The work around I implemented was to clear this flag in __mqtt_send after the mqtt_pal_sendall cal

[2021-02-19 04:40] truhann opened #125 "Enhancement suggestion - Full purge of send buffer"
Hello,

The current __mqtt_send forward each individual mqtt message separately to the mqtt_pal_sendall bearer.

The shortcoming of this is that on platforms where the mqtt_pal_sendall call has got a high latency (i.e. it blocks and only returns when the acknowledgment has been received that data arrived at the broker) it causes high latency communication.   This is especially true with bearers li

[2021-02-25 19:11] dkrix opened #126 "WSAEWOULDBLOCK treated as error in mqtt_pal_sendall"
The non-blocking windows version of send returns an error when it would otherwise block. This needs to be checked using WSAGetLastError().

This might become an issue when a client sends a lot of messages in a short time.

`
ssize_t tmp = send(fd, (char*)buf + sent, len - sent, flags);
        if (tmp < 1) {
            if (WSAGetLastError() == WSAEWOULDBLOCK) { // non fatal error

[2021-03-10 15:25] LiamBindle commented on #126
Hi David, sorry for the slow response. Can you submit a PR?

[2021-03-10 15:32] LiamBindle commented on #124
Hi @truhann, sorry for the slow response. The root issue here that has blocked a solution thus far is this: if the send buffer is full, how can we handle ingress QoS 1 and 2 background messages without allocating memory. I'd be very happy to merge a PR that can solve this problem.

An alternative option that comes to mind would be adding a set of "behaviour" flags to the `mqtt_client` structure. T

[2021-03-10 15:34] LiamBindle commented on #125
@truhann, I'd be open to a mechanism for this via something like the behaviour flags I suggested in #124. This specific behaviour would only work if the user was exclusively sending/recieving QoS 0 messages.

[2021-03-10 15:34] #122 closed

[2021-03-11 04:01] xuyuanwang1993 opened #129 "Function "mqtt_error_str" cause a "Segmentation fault" error!"
I try to use MQTT-C in my C++ project.
When I pass “MQTT_OK” in my cpp file to the function "mqtt_error_str", it causes a "Segmentation fault" error.

/*Test*/
const char* mqtt_error_str(enum MQTTErrors error) {
    printf("%d %d \r\n",error==MQTT_OK,(error-MQTT_ERROR_UNKNOWN)==(MQTT_OK-MQTT_ERROR_UNKNOWN));
    int offset = error - MQTT_ERROR_UNKNOWN;
    if (offset >= 0) {
        return MQTT_ER

[2021-03-25 01:44] #129 closed

[2021-04-09 13:53] #126 closed

[2021-04-09 13:53] #125 closed

[2021-04-09 13:53] #124 closed

[2021-04-15 00:42] fabulously opened #132 "publish and Network packet relation"
Test program I use publish data at every program loop cycle.  And use sample code pthread_create()  to perform client_refresher(). (like reconnect_subscriber.c )

I record the publish data and  mqtt_sync() timing. And I use the software wireshark to monitoring Network packet.

I have two question as follows:

1.Could each MQTT publish data  use  each Network packet ?

2. Is mqtt_sync() perform sta

[2021-04-15 12:50] LiamBindle commented on #132
Hi @fabulously, thanks for writing.

I'm not quite sure what you mean. Every time you publish data it will be sent over the network, but the exact way that happens is controlled by your socket library. I suspect if you tried to send a very large message, it would be broken up into multiple packets, but if you publish messages are small, I suspect they are contained in a single packet. That's just

[2021-04-16 03:51] fabulously commented on #132
Thanks for your reply.
1.  You are right. The library is control publish data to transfer Network packets .  It is use mqtt_pal_sendall() function.  As you said, the small publish data could be contained in a single Network packet.
2.  I see the library.  I am realize what you meaning.   Thank you your kindness.

[2021-04-16 20:28] Viermusketiere opened #133 "WSAENOTSOCK returned by mqtt_pal_recvall"
Most likely a mistake on my end, I am a novice on this level of programming.
Using the library for the first time on Windows with Visual Studio 2019.
Compiled example is `bio_publisher_win.c`.
For openSSL precompiled binaries are used (https://github.com/David-Reguera-Garcia-Dreg/Precompiled-OpenSSL-Windows) and linked via project settings in VS.

Code to which the occuring error is traced back:
[

[2021-04-17 14:04] hzwale opened #134 "crash when running memmove in __mqtt_recv"
OS: ubuntu 16.04
[code]

Program terminated with signal SIGSEGV, Segmentation fault.
#0  __memmove_avx_unaligned () at ../sysdeps/x86_64/multiarch/memcpy-avx-unaligned.S:299
299	../sysdeps/x86_64/multiarch/memcpy-avx-unaligned.S: No such file or directory.
[Current thread is 1 (Thread 0x7f070ce73700 (LWP 7904))]
(gdb) bt
#0  __memmove_avx_unaligned () at ../sysdeps/x86_64/multiarch/memcpy-avx-unal

[2021-04-21 07:57] XDhughie opened #135 "why I can not receive anything?"
bio_publish.c is the pubulish file of the example，and this is my subsribe file:

#include <unistd.h>
#include <stdlib.h>
#include <stdio.h>

#include <mqtt.h>
#include "templates/bio_sockets.h"

void publish_callback(void** unused, struct mqtt_response_publish *published);

void *client_refresher(void* client);

void exit_example(int status, BIO* sockfd, pthread_t *client_daemon);

int main(int ar

[2021-04-21 13:38] #133 closed

[2021-05-29 00:56] gatalec opened #137 "Previous published message not cleared"
Hello,

I am using MQTT-C working as a subscriber, I publish the message "Hello world" and I receive it correctly using the "publish_callback" callback from the examples. I then publish the message "Howdi" and I receive it as "Howdi world" In other words, the previous message is not cleared before decoding the new one.

Can you please suggest how to fix it?

Thank you.

[2021-05-29 06:32] gatalec commented on #137
Never mind... had to allocate a temporary null-terminated buffer and ti worked.

[2021-05-29 06:32] #137 closed

[2021-06-01 21:05] #132 closed

[2021-07-06 02:44] Grabber opened #139 "local persistence"
Is there any feature to provide local persistence in the case of energy shutdowns?

[2021-07-13 14:34] LiamBindle commented on #139
Not really. If you hard-code your broker's address/creds/etc then the connection will always be reinitialized, but I can't think of anything beyond that. It would get tricky because the socket would somehow need to be persistent. If you could get a persistent socket, then in theory you could serialize and dump the `mqtt_client` struct and reload it

[2021-07-20 12:48] #139 closed

[2021-07-20 12:49] #135 closed

[2021-07-20 12:49] #134 closed

[2021-07-20 12:50] LiamBindle commented on #119
Closing due to inactivity. Please feel free to reopen.

[2021-08-11 12:56] arthurkomatsu commented on #119
Up on this as it would be very useful to know if a QOS 1 message timed out.

[2021-08-28 16:42] leisurehound opened #141 "Would reconnect_publisher be a thing?"
This is more a question than an issue, but I'm exploring using this on a Pi to publish topics to a broker, however the Pi is headless and needs to just work(tm) when connected to a cellular router.  I'm new to MQTT.

Is combining the aspects of reconnect_subscriber.c and simple_publisher.c viable?  Am not sure if reconnect strategy is the same irregardless of being strictly a publisher.  Also, can

[2021-08-29 04:50] leisurehound commented on #141
I'm getting a bad access error in Xcode debugger when attempting to publish for the first time at the if statement below, curr->packet_id from `__mqtt_next_pid` called from `mqtt_publish`

[code]

[2021-08-30 14:25] LiamBindle commented on #141
@leisurehound Thanks for writing.

Absolutely. The examples are meant to be standalone demos of a certain feature/ability. The reconnect_subscriber demonstrates how the "reconnect" functionality is used (compare with simple_subscriber). For a real application you should implement your own handling and make use of the features you need (including potentially implementing your own PAL).

Having mutl

[2021-08-31 19:44] leisurehound commented on #141
ok, seems LLVM is not liking the mutex being set before the call `__mqtt_next_pid` where it references `curr->packet_id`

[2021-09-28 06:19] alex-bohmeraudio opened #143 "Adding contex to callbacks"
This is a question.
In the examples we have:
[code]
I'm using MQTT-C and callbacks in a threaded environment and would like to add a context parameter to the callbacks. For example paho mqtt async library has ([ref](https://www.eclipse.org/paho/files/mqttdoc/MQTTAsync/html/_m_q_t_t_async_8h.html#ae9ae8d61023e7029ef5a19f5219c3599))
[code]
The second parameter allows to add application-specific cont

[2021-10-06 13:47] vpetrigo commented on #119
Hello everyone,
Sorry for huge delay, have too many things on my plate. Get back to that feature as soon as I have some spare time.

[2021-10-06 22:40] snej opened #144 "Insufficient validation of PUBLISH message"
There's some missing packet-length validation in the PUBLISH packet handler, `mqtt_unpack_publish_response`. This makes the library vulnerable to a bad PUBLISH packet with an overly-long topic name. The library could definitely be made to read garbage past the end of a buffer, and possibly crash.

The bug is that the remaining packet length (`mqtt_response->fixed_header.remaining_length`) is only

[2021-10-13 17:43] alex-bohmeraudio commented on #143
Fixed

[2021-11-08 17:36] #141 closed

[2021-11-08 17:37] LiamBindle commented on #119
@vpetrigo No worries at all---I totally understand. Same goes for me right now.

When you have something ready, I'm happy to review and merge it.

[2021-11-28 19:52] brianrho commented on #91
From what I can tell, the message headers approach from the end of the TX buffer, whereas the actual message content approach from the start of the buffer. Whenever they meet, there is no more space for new messages.

Alignment matters usually for multi-byte access of random space (so we can ignore the arbitrary message content). Since the message headers are individual structs occupying the TX bu

[2021-12-09 15:15] perigoso commented on #98
I'm going to work on a feature like this, as It would be useful for my current project, If you could reopen the issue and assign it to me that would be nice

[2021-12-15 12:45] perigoso opened #150 "Possible undefined behaviour/bad memory access after reconnect"
If within the reconnect callback something fails, and the function returns without correctly initializing the socket and calling connect, the sync continues as if nothing wrong happened, in cases where the socket initialization failed this could mean bad memory accesses in `recv`

A fix is included in #149

[2021-12-17 17:48] LiamBindle commented on #98
There you go. Thanks for picking this up @perigoso!

[2021-12-23 12:20] normanr opened #151 "MQTT_ERROR_SEND_BUFFER_IS_FULL due to transient MQTT_ERROR_SOCKET_ERROR"
There are several `MQTT_ERROR_SEND_BUFFER_IS_FULL` issues already but I think I've tracked down a possible root cause for how and why QoS 0 messages can cause it.

I'm writing a embedded app using NuttX (which uses MQTT-C 1.1.5), and if an interrupt arrives then the `send` call in `mqtt_pal_sendall` can return `EINTR`. With just `mqtt_sync` running on it's own thread, the client ends up in `MQTT_E

[2022-01-11 10:41] fawkes851 opened #152 "FPU-Trap when calculating client->typical_response_time"
I get a FPU error on a hardware device in line 868 of mqtt.c:

`client->typical_response_time = 0.875 * (client->typical_response_time) + 0.125 * (double) (MQTT_PAL_TIME() - msg->time_sent)`

When the response time is typically below 1 second, the difference (MQTT_PAL_TIME() - msg->time_sent) is zero and the product get smaller each time a response is received until it hits the minimum value of a

[2022-01-13 14:12] infn-ke opened #153 "mqtt_publish return value causes mqtt_error_str when not connected"
Invoking `mqtt_publish` without being in a connected state gives a negative return value. Passing this return value into `mqtt_error_str` causes a SEGV.

[code]

Unfortunately `MQTT_CLIENT_TRY_PACK` is a macro so cannot get better backtrace without replacing it with a function.

[2022-01-17 03:27] pspeirs opened #154 "mqtt_publish seems to only send QoS 0"
Hi, I've used the following line to call mqtt_publish with the QOS 1 flag and I appear to only be sending QoS 0 out to the broker.

    //mqtt_publish(&client, mqtt_topic_name, mqtt_msg_buffer, strlen(mqtt_msg_buffer), MQTT_PUBLISH_QOS_0);
    mqtt_publish(&client, mqtt_topic_name, mqtt_msg_buffer, strlen(mqtt_msg_buffer), MQTT_PUBLISH_QOS_1);

Seems pretty simple, so any help would be awesome.

[2022-01-17 05:51] pspeirs commented on #154
Apologies, I should read the protocol documentation fully.

[2022-01-17 05:51] #154 closed

[2022-01-17 05:51] pspeirs commented on #154
Apologies, I should read the protocol documentation fully.

[2022-01-21 10:06] gyavolo opened #155 "Possible bug in MQTT_CLIENT_TRY_PACK macro"
<pre>
#define MQTT_CLIENT_TRY_PACK(tmp, msg, client, pack_call, release)  \
    if (client->error < 0) {                                        \
        if (release) MQTT_PAL_MUTEX_UNLOCK(&client->mutex);         \
        return client->error;                                       \
    }                                                               \
</pre>

I think it should be:

if (client->e

[2022-01-28 21:35] brianrho commented on #150
Yeah, this really was an odd choice -- you've just gotten disconnected from the broker, what makes you so sure that your next reconnection, likely just seconds afterwards, will succeed? The reconnect_callback caller should've been able to deal with failures, without needing the callback itself to block until success.

[2022-01-29 12:17] perigoso commented on #150
Like i said i already provided a fix, tested and working on real world application

[2022-02-04 04:50] yamt commented on #110
mbedtls and unix socket: https://github.com/LiamBindle/MQTT-C/pull/156

[2022-02-07 21:36] ozlb commented on #153
https://github.com/LiamBindle/MQTT-C/blob/be12c343ac5b7125d5e15cb9ab2d743de7f4fab4/src/mqtt.c#L549

`ssize_t tmp = __mqtt_pal_sendall(client->socketfd, msg->start + client->send_offset, msg->size - client->send_offset, `**MSG_NOSIGNAL**`); `

[2022-02-26 07:42] GANGE666 opened #158 "MQTT-C Security Issue Report (mqtt_unpack_publish_response)"
# **Overview**

An issue was discovered in MQTT-C through 1.1.5. The MQTT input data processing function `mqtt_unpack_publish_response` in [mqtt.c](https://github.com/LiamBindle/MQTT-C/blob/be12c343ac5b7125d5e15cb9ab2d743de7f4fab4/src/mqtt.c) does not validate the length of incoming  `topic_name_size`, which leads to an out-of-bounds read when subsequent processing of the input data. And this coul

[2022-03-24 17:29] perigoso opened #162 "swap use of double variables to float"
doubles are computationally expensive and most embbeded devices don't have hardware for such computations hurting performance and size, we should use floats

realistically, the only place using double is the average time, which doesn't need that kind of precision anyway?

[2022-03-29 16:54] schnedann opened #163 "How to check the client has received a Connack from the Broker after connect()"
after reading the API Docu and reading the code,
I still have no clue how to check for an successful connect,
so how one can check if the broker sent a Connack, and the
Client is in a Connected state prior to executing a publish?

[2022-06-14 15:54] LiamBindle commented on #162
Good call! Thanks for raising this.

[2022-06-14 15:54] #150 closed

[2022-09-26 07:52] pieterconradie commented on #163
Hi @schnedann

I have the same problem, for example when wrong MQTT password is used then mqtt_connect() will return MQTT_OK but only a while later will the MQTT_ERROR_CONNECTION_REFUSED be returned.

I can only offer a hint / workaround. Inspect __mqtt_recv() and search for MQTT_CONTROL_CONNACK. You will see that client->typical_response_time is updated. You can check if this field has been updat

[2022-09-26 08:27] schnedann commented on #163
Hi, thx for the reply. In fact, this is what I did for serving our needs. Its still not clear if I can provide these changes upstream...

[2022-10-26 03:58] shayneoneill commented on #158
Is this fixed in any forks?  Its a little disturbing this has sat around since febuary not even acknowledged.

For all we know this could have been actively exploited for the last 8+ months without even a "We'll look into it".

Does anyone have any recommendations for an alternative library for embedded microcontrollers that is, in fact, maintained?

[2022-10-27 16:18] applea9 opened #173 "how to check network connection state in inspector callback"
Hi,

I met some problems when using MQTT-C library to communicate with MQTT broker.

When the network connection is broken, mqtt_sync() will use nearly 16 minutes to detect the network connection state and change the error to MQTT_ERROR_SOCKET_ERROR.

- In the first 9 minutes, mqtt_sync() calls __mqtt_recv() and __mqtt_send() without any problem though the network connection is broken.

- And in t

[2022-10-27 19:38] LiamBindle commented on #158
Happy to accept a PR fixing this. I maintain this repo casually and I'm not paid; MQTT-C in it's current form is stable and pretty widely used. It looks like the author described how to fix it---not sure why this wasn't submitted as a PR, but I'm happy to merge a fix.

[2022-11-15 10:15] rechrtb commented on #163
+1 on having a better way to detect CONNACK has been received.

[2022-11-16 13:56] pieterconradie commented on #163
Here's my quick fix. I added a bool flag in struct mqtt_client:
[code]
I set the flag in __mqtt_recv():
[code]

Remember to clear the flag in mqtt_init(), mqtt_init_reconnect() and mqtt_reinit()

[2022-11-25 12:41] acassis commented on #163
Hi @pieterconradie I think your solution is more elegant than mine:
[code]

MQTT-C has an example usage for NuttX RTOS, I will submit a patch to them based on your solution, ok?

[2022-11-26 12:37] pieterconradie commented on #163
Hi @acassis You are most welcome. Go ahead. Best regards, Pieter